[2014-03-17 21:45] pixelzoom opened #1 "partial charge not visible on black 'Electron Density' surface"
Partial charges are difficult/impossible to see on the 'Electron Density' surface. This occurs in the 'Two Atoms' screen, when electronegativity values are at extremes. This results in a black partial charge symbol displayed on a black surface, see screenshot.

Try it for yourself here:
http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.4/molecule-polarity_en.html

A possibl

[2014-03-17 21:56] pixelzoom opened #2 "molecular dipole is too long in some situations"
The maximum dipole length is set by placing atoms A and C at the same location, and the electronegativity values as shown in the screenshots below. In the screenshots, the red outline shows the 'safe' area, guaranteed to be displayed. When the dipole is parallel to the plates, its tip is outside the safe area. When the dipole is perpendicular to the plates, its tip is past the center of the plates

[2014-03-17 22:14] pixelzoom opened #3 "custom cursor for rotation"
The Java version of Molecule Polarity has a custom cursor for rotation, shown in the screenshot below. It is the 2 white arrows chasing each other.  This cursor appears in the 'Two Atoms' tab when you are over either atom or the bond. In the 'Three Atoms' tab, it's appears over atom 'B' or either bond. It does not appear in the 'Real Molecules' tab because we didn't have control over the Jmol curs

[2014-03-20 22:02] #2 closed, assigned to nobody

[2014-04-18 22:38] #1 closed, assigned to nobody

[2014-04-28 19:58] #3 closed, assigned to nobody

[2014-06-27 01:03] pixelzoom opened #4 "replace explicit prototype assignment with inherit(Object,...)"
see phetsims/graphing-lines#13

[2014-06-27 01:18] #4 closed, assigned to pixelzoom

[2014-08-31 21:43] pixelzoom opened #5 "option: dipole convention"
@emily-phet wrote:

An interesting issue has come up regarding the dipole arrow direction in the Molecule Polarity simulation. Unbeknownst to us, the governing body of chemistry nomenclature and apparently arrow direction conventions (IUPAC), had decided to change the convention for the direction the dipole arrow points. So, now the Molecule Polarity arrow points the opposite direction to the IUPA

[2014-08-31 22:07] pixelzoom opened #6 "investigate JSmol integration"
Spend ~10 hours investigating how to integrate JSmol into PhET HTML5 sims.

[2014-09-04 18:49] pixelzoom opened #7 "option: color scheme for electrostatic-potential surfaces"
When the new Options feature is implemented (https://github.com/phetsims/joist/issues/154), add an option to switch the color scheme used for electrostatic-potential surfaces (red-white-&-blue vs rainbow).

[2014-09-24 00:14] pixelzoom opened #8 "JSmol: can't load molecule data (Blobs) on several platforms"
In order to package mol2 data files with the sim, they've been converted to strings, and are loaded like this:

[code]

This works fine on Mac+Chrome and Mac+Firefox, but fails on Mac+Safari, iOS8+Safari and iOS8+Chrome.  An error message appears in the JSmol viewer, see screenshot below. The message returned by Jmol.scriptWait is shown below, with same error as shown in the viewer:

The Blob's UR

[2014-09-24 00:17] pixelzoom opened #9 "JSmol: can't interact with the JSmol viewer on Mac+Firefox"
Mac OS 10.9.5, Firefox 32.0.2.  Unlike other browsers (Chrome, Safari) you can't rotate the molecule in the JSmol viewer.  And because the Molecule combo box list is getting events where it overlaps with JSmol, I'm guessing that JSmol is not getting any events.

[2014-09-24 00:19] pixelzoom opened #10 "JSmol: Molecule combo box doesn't work above JSmol viewer"
On Mac+Chrome and Mac+Safari, the Molecule combo box doesn't get any events in the area of the screen above the JSmol viewer.  For some reason, this isn't the case for some reason on Firefox (where JSmol doesn't get any events, see #9.)

[2014-09-24 00:21] pixelzoom opened #11 "JSmol: fails intermittently at startup"
This has only been noted on Mac+Chrome so far, but not rigorously tested on other platforms.

On startup, JSmol intermittently fails. Inspecting the JSmol global in the debugger shows that it becomes undefined at some point.  This smells like a Heisenbug.

[2014-09-24 00:24] pixelzoom opened #12 "JSmol: antialiasing results in big performance hit"
JSmol 'set antialiasDisplay true' turns on antialiasing, and results a big performance degradation. Interaction becomes quite sluggish, very noticeable even on desktop platforms.  This was a setting in the Java version, and we may need to omit it in the JavaScript version.

[2014-09-25 04:36] pixelzoom opened #13 "JSmol: can't deliver as a single HTML file"
More info on this is in #6, but I'm breaking it out into a separate issue.

JSmol's delivery requirements make it difficult/impossible to bundle into PhET's single-HTML-file.

The JSmol class loader (Clazzloader) loads files dynamically as JSmol features are requested by the client application. The files that implement those features are stored in a j2s/ directory on the web server. This directory

[2014-09-25 17:37] pixelzoom opened #14 "JSmol: why do we need to call _cover(false) ?"
The normal procedure for instantiating a JSmol applet is:

[code]

This fails unless this additional line is added, which was discovered by searching through the applet's HTML code.

This isn't required in any of the JSmol examples, and (judging by the underscore in its name) is a function that is internal to JSmol, not to be used by clients.  It would be good to understand why this is required.

[2014-09-25 18:36] #13 closed, assigned to pixelzoom

[2014-09-25 18:37] #11 closed, assigned to pixelzoom

[2014-09-25 18:40] #8 closed, assigned to pixelzoom

[2014-09-25 18:41] #12 closed, assigned to pixelzoom

[2014-09-25 18:42] #9 closed, assigned to pixelzoom

[2014-09-25 18:43] #10 closed, assigned to pixelzoom

[2014-10-01 18:41] pixelzoom opened #15 "implement 3D molecule viewer for "Real Molecules" screen"
As noted in #6... We punted on JSmol.  Either identify some other 3rd-party library that meets the needs of Molecule Polarity (and future chem sims?) or develop a custom library.  If developing a custom library, it probably makes the most sense to grow what is being done by @jonathanolson for Molecule Shapes.

[2015-01-15 21:38] pixelzoom commented on #7
Resolution of https://github.com/phetsims/chipper/issues/81 is a prerequisite for completing this issue.

[2015-01-15 21:38] pixelzoom commented on #5
Resolution of https://github.com/phetsims/chipper/issues/81 is a prerequisite for completing this issue.

[2015-01-15 22:08] pixelzoom commented on #7
All work on this feature is completed. Resolution of phetsims/chipper#81 is a prerequisite for closing this issue.

[2015-01-15 22:08] pixelzoom commented on #5
All work on this feature is completed. Resolution of phetsims/chipper#81 is a prerequisite for closing this issue.

[2015-01-15 22:11] pixelzoom opened #16 "collision between query parameters and string keys"
This is a bigger issue, reported in phetsims/chipper#81.  Depending on how that is resolved, changes may or may not be required for Molecule Polarity.  The query parameters and strings keys that currently collide are 'dipoleDirection' and 'surfaceColor'.

[2015-01-15 22:11] pixelzoom commented on #7
Closing this issue. Tracking the key-collision issue in https://github.com/phetsims/molecule-polarity/issues/16.

[2015-01-15 22:11] #7 closed

[2015-01-15 22:11] pixelzoom commented on #5
Closing this issue. Tracking the key-collision issue in https://github.com/phetsims/molecule-polarity/issues/16.

[2015-01-15 22:11] #5 closed

[2015-01-16 19:22] pixelzoom commented on #16
phetsims/chipper#81is resolved, so there is no longer a collision. No changes required to molecule-polarity. Closing.

[2015-01-16 19:22] #16 closed

[2015-01-16 22:01] pixelzoom commented on #15
@jonathanolson what is the status of the 3D molecule code in Molecule Shapes? Is there anything general, or anything that we could start generalizing to meet the needs of Molecule Polarity?

[2015-01-16 22:05] jonathanolson commented on #15
It's in a state where we could move our Three.js-related code to another shared repo, and hopefully meet the needs of Molecule Polarity.

It would be helpful to have a call sometime to discuss the current state and setup in Molecule Shapes.

[2015-01-16 22:18] pixelzoom commented on #15
OK, not high priority.  But it's been ~4 months since we punted on JSmol, and Molecule Polarity is otherwise complete.  So it would be nice to get back to this at some point so that we have another sim to publish.

[2015-03-31 20:24] pixelzoom opened #17 "branch: combo-box-testing"
Please describe or delete if not longer needed.

[2015-03-31 20:24] pixelzoom opened #18 "branch: context-loss-canvas"
Please describe or delete if not longer needed.

[2015-05-07 17:10] pixelzoom commented on #15
Dev meeting 5/7/2015 note:  The chemistry design team should start chipping away at requirements for a general molecule viewer.  @ariel-phet suggested that Amy H. might take this on when she joins the team. Assigning to @ariel-phet to follow up.

[2015-09-22 16:00] pixelzoom commented on #15
In https://github.com/phetsims/tasks/issues/354#issuecomment-140595442, @ariel-phet said this regarding porting of Java sims:

[2015-09-22 20:06] jonathanolson commented on #15
Current 3D status:
- Build a Molecule: Current 3D view drawn in Canvas. Fun computations to determine exact elliptical shapes of each atom when drawn. Will need CAG or ellipticalArc-ellipticalArc intersections to fully support three atoms intersecting each other. Not suitable for many of the Molecule Polarity views.
- Molecule Shapes: Uses three.js, and many patterns that would be extracted to com

[2015-09-24 17:00] pixelzoom commented on #15
There is currently no deadline for Molecule Polarity.

@ariel-phet said to assign this to @amyh-phet to define what features we may need for a 3D molecule library.

[2015-09-24 17:04] ariel-phet commented on #15
@amyh-phet you and I should discuss a bit...but basically you will want to review all chemistry sims to see which ones use a 3d molecule viewer (definitely molecule shapes and build a molecule).

@pixelzoom made a pretty good list above of what requirements we had in Java. Ideally we want to anticipate as many features a possible. It would be good to have a list that is sort of "essential" "would

[2015-09-24 17:47] amyh-phet commented on #15
@ariel-phet  just let me know when you want to meet

@pixelzoom thanks for compiling the list of requirements in the Java sims

[2015-10-28 15:24] amyh-phet commented on #15
@ariel-phet @pixelzoom

General requirements for molecule viewer:

Essential features:
• atoms
• bonds
• ball-and-stick
• space filling model
• bond dipoles
• molecular dipole
• partial charges
• electrostatic-potential isosurface (red-white-blue and rainbow color schemes)
• electron-density isosurface
• custom colors for atoms, bonds, dipoles, surfaces
• transparency for atoms, bonds, surfaces
•

[2016-05-02 19:15] pixelzoom opened #19 "namespace"
This sim needs to be namespaced.

[2016-05-02 19:52] #19 closed

[2016-05-03 17:40] phet-steele opened #20 "Automated Testing Build Error (5/3/2016 10:52 AM)"
[code]

[2016-05-03 17:42] #20 closed

[2016-08-25 23:30] pixelzoom opened #21 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:34] pixelzoom commented on #21
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:34] #21 closed

[2016-11-10 17:35] pixelzoom commented on #6
[11/1/16, 3:19:55 PM] Ariel Paul: have we looked at in awhile?
[11/1/16, 3:20:29 PM] Chris Malley: it's been a long long time since i looked at jsmol.
[11/1/16, 3:20:57 PM] Ariel Paul: Might be worth a gander again at some point
[11/1/16, 3:21:09 PM] Chris Malley: size wasn't the only issue. it didn't play nice with requirejs.
[11/1/16, 3:26:38 PM] Chris Malley: Feel free to reopen https://github.

[2016-11-10 17:44] ariel-phet commented on #6
@pixelzoom I think we will revisit this question (potentially) after unit rates is done. (Molecule polarity would be pretty nice to finish if that was a possibility). Since you told me feel free to reopen, I figure I would wait until a more appropriate time.

Lets leave open and unassigned for the moment

[2017-02-23 05:45] pixelzoom commented on #6
@ariel-phet said:

Unit Rates is getting close to  completion, self-assigned so that this is on my radar.  Addressing JSmol licensing (see https://github.com/phetsims/litmus/issues/8) is a prerequisite to re-evaluating JSmol.

[2017-03-09 18:56] samreid commented on #6
@ariel-phet and I discovered there are many licensing encumbrances with JSMol and we would like to investigate an alternate approach to rendering the iso-surfaces.  Perhaps when @jonathanolson has some free time, he could help us investigate a webgl implementation for the iso surfaces like the ones in the java version of molecule polarity.

[2017-03-09 18:59] jonathanolson commented on #6
Presumably the hard part would be actually computing the iso surface. Is there a formula that determines the location, like `(...) == constant`? How does JMol compute it in the first place?

If there's a formula like above for determining the position of the iso surface, I can look into efficient ways of displaying it. I'd prefer to avoid (personally) trying to figure out that formula.

[2017-03-09 19:03] samreid commented on #6
According to http://jmol.sourceforge.net/docs/surface/ it looks like we can export the surface geometry.

[2017-03-09 19:04] jonathanolson commented on #6
Oh, is there a small enumerable list of exact geometries that would be needed? Could save the meshes in that case.

[2017-03-10 02:02] samreid commented on #6
Here's the isosurface render Java code: https://sourceforge.net/p/jmol/code/HEAD/tree/trunk/Jmol/src/org/jmol/rendersurface/IsosurfaceRenderer.java

[2017-03-10 05:09] samreid opened #22 "investigate rendering electrostatic potential without JSMol"
Based on the conclusions in #6 and related to #15, we would like to investigate rendering the isosurfaces without JSMol.

@samreid said

@jonathanolson said:

@samreid said:

@jonathanolson said:

@samreid said:

[2017-03-10 05:10] samreid commented on #22
Yes, there are 19 molecules for this (at least in the Java sim).

[2017-03-10 05:19] samreid commented on #22
Building on the demo linked from https://github.com/mikolalysenko/Isosurface/ I added this surface function:

[code]

And it produced this isosurface:

![isosurface](https://cloud.githubusercontent.com/assets/679486/23783073/f69ebee4-0515-11e7-9c1f-7182b1bbd462.gif)

We would still need to get the coloring right, but perhaps we are barking up the right tree?  My main question is whether everything

[2017-03-10 16:37] pixelzoom commented on #22
The isosurface must support multiple maps and translucency. We've used 2 of Jmol's color schemes in Molecule Polarity - BW, RWB, ROYGB.  Respective screenshots from the Java version of Molecule Polarity below. Switching between RWB and  ROYGB is done via the Options menu in the menu bar. Highly recommended to play around with Molecule Polarity.

![screenshot_180](https://cloud.githubusercontent.co

[2017-03-10 16:40] pixelzoom commented on #22
If you're interested in how Jmol isosurfaces are configured in the Java version of Molecule Polarity, see `setSurfaceType` in `JmolViewerNode.java`.

[2017-03-10 17:13] ariel-phet commented on #22
@emily-phet was heavily involved with this simulation and would be the best person to talk to

[2017-03-10 17:40] samreid commented on #22
@emily-phet can you please comment on whether `sum(q_i/r_i)=constant` is the appropriate equation for modeling the geometry of the isosurface?  If not, what is the appropriate equation? Does the sim already include the q values and (x,y,z) coordinates for each atom?  If not, where can we look them up? How do we assign colors over the surface for each of the color maps?

[2017-03-12 23:38] pixelzoom commented on #6
Unassigning myself, since it sounds like PhET is no longer considering JSmol integration.

[2017-03-14 15:20] emily-phet commented on #22
@samreid Kelly was lead on this, I only consulted. I have no idea how to isosurface was modeled. Perhaps Robert might be able to help out with this.

[2017-03-14 15:33] pixelzoom commented on #22
I don't recall any of us having knowledge about how the isosurface was modeled.  I turned on the feature in Jmol, and everyone on the design team said "yeah, that's what we expect it to look like".

[2017-03-14 15:42] samreid commented on #22
@ariel-phet how about scheduling a short "design" meeting between you, me, Robert and @jonathanolson?

@pixelzoom are the molecules rendered in scenery currently?  In Java, did you embed the molecule within the isosurface (in 3d) or is it just "behind"?  I'm trying to figure out if we have to break the geometry into two layer (front and back) and embed the scenery molecule in the middle z-layer.

[2017-03-14 15:56] pixelzoom commented on #22
In the Java version, the entire 3D view (molecules, atoms, atom labels, surfaces, dipoles, charges) is rendered by Jmol. See `JmolViewerNode`.

In the JS version, `litmus.JSmolViewNode` was set up to use the same approach.

[2017-03-14 15:58] pixelzoom commented on #22
In addition to playing with the Java version of Molecule Polarity... Highly recommended to read through `JmolViewerNode` to see what you're in for.  Rendering the isosurface is one of the bigger challenges, but by no means the only issue.   Without JSmol, this is going to be a large project.

[2017-03-14 15:58] samreid commented on #22
Will the JS code from screens 1 and 2 be able to render the 3d molecules for screen 3?  If not, do we have another plan for how to render the 3d molecules?

[2017-03-14 16:01] pixelzoom commented on #22
No, the atoms in screens 1  & 2 are not appropriate for screen 3.  They are simply Circles with a gradient fill.  We also need transparency, perspective, z ordering, ...

[2017-03-14 16:01] samreid commented on #22
Here's a list of features for screen 3:
https://github.com/phetsims/molecule-polarity/issues/15#issuecomment-57539678

• atoms
• bonds
• ball-and-stick
• bond dipoles
• molecular dipole
• partial charges
• electrostatic-potential isosurface (red-white-blue and rainbow color schemes)
• electron-density isosurface
• custom colors for atoms, bonds, dipoles, surfaces
• transparency for atoms, bonds, s

[2017-03-14 16:02] pixelzoom commented on #22
If you're considering trying to do implement the Real Molecules screen by faking the 3D using a 2D scenegraph, I don't think that's a viable option.  Seems like a job for WebGL.

[2017-03-14 16:07] pixelzoom commented on #22
Add to list of features:

• 3D lighting
• Information related to specific atoms (color, relative size,...) - Jmol handles this
• user interaction with a 3D model (rotation)

[2017-03-14 16:12] samreid commented on #22
Based on your feedback in https://github.com/phetsims/molecule-polarity/issues/6#issuecomment-55832203  it seems like this will be a large project even with JSMol (and "Plan on throwing this solution away in the future." doesn't sound great to me.)

Should we investigate other open source WebGL chemistry libraries, or have another try getting the licensing figured out?

[2017-03-14 16:30] samreid commented on #15
Here's a MIT-licensed chemistry viewer which says there is also (under development?) support for electron density maps:
http://webglmol.osdn.jp/index-en.html

It probably wouldn't be "easy" but some things tricky in JMol may be easier here.  Also, do we need to provide fallback support for canvas?  Or OK to require webgl for this part?  (May be a question for @ariel-phet).

[2017-03-14 16:37] samreid commented on #15
Speck looks pretty nice:

![image](https://cloud.githubusercontent.com/assets/679486/23911185/a323ba6e-08a1-11e7-833f-a0fe6742cfd6.png)

And the three.js example does some things great!  Probably has canvas fallback as well:
![image](https://cloud.githubusercontent.com/assets/679486/23911214/b6357d18-08a1-11e7-931d-359208157e51.png)

If we feel like it must look "exactly like" the Java one, then w

[2017-03-14 16:39] jonathanolson commented on #22
Most of the described 3D features seem fairly simple (spheres, cylinders, cones, etc., with fairly simple shading). The custom geometry (isosurfaces) seem like the most difficult by far (but can be handled fairly trivially if we can export the geometry).

Is there a type of rendering here that hasn't been done in Molecule Shapes (besides if we need a dynamically generated isosurface?)

[2017-03-14 17:04] samreid commented on #15
https://github.com/3dmol/3Dmol.js supports many of the features we need, including volume data: https://github.com/3dmol/3Dmol.js

[2017-03-14 18:00] jonathanolson commented on #15
Presumably a third-party solution would need to support all the features?

Due to the general PhET desire to be able to customize/change appearance, or add in features (like bond angle displays for Molecule Shapes), I would assume that either a phet-specific solution should be implemented, OR we would need to easily be able to change or add things in the display.

A library built on top of three.j

[2017-03-14 18:01] samreid commented on #15
Also, three.js provides the desirable feature that it provides a canvas fallback for many cases.

[2017-03-14 18:03] samreid commented on #22
Perhaps a better plan would be to schedule a design meeting, including chemists + @jonathanolson @pixelzoom @samreid and @ariel-phet, and decide on the best course of action.

[2017-03-14 18:15] jonathanolson commented on #22
Do newer versions of JSMol have the same limitations that caused us to (tentatively) reject it for use?

[2017-03-14 18:19] samreid commented on #22
Licensing limitations of JSMol are reported here: https://github.com/phetsims/special-ops/issues/63   and are for a recent version.  I wouldn't mind a 2nd opinion on the matter, if you want to take a closer look.

I'm not sure what version @pixelzoom was referring to in this list of technical limitations:
https://github.com/phetsims/molecule-polarity/issues/6#issuecomment-55832203

[2017-03-14 18:25] jonathanolson commented on #22
Just reviewed the technical limitations again (thanks), and I'd prefer to look into non-JSMol solutions.

Sounds helpful to me.

[2017-03-14 18:30] ariel-phet commented on #22
@samreid @pixelzoom @jonathanolson agreed a design meeting would be good, but we will defer until @pixelzoom is finished with a few current sims (unit rates, function basics, graphing slope intercept). As well as good for JO to finish a few current sims before any serious investigation here.

[2017-03-14 20:56] pixelzoom commented on #22
Yeah, I think it would be a good idea if I was in on this design meeting.

[2017-03-14 21:08] pixelzoom commented on #22
@samreid said:

Not so.  I had this pretty much working, as a direct port from Java.  The main snags were (a) licensing and (b) packaging.

[2017-03-14 22:39] samreid commented on #22
If the only remaining obstacles are licensing and packaging, perhaps we can figure out solutions to those problems.  Is there a requirejs version where I can test this?  Has in been past our QA team to make sure there are no other technical hurdles?  Does it have canvas fallback etc? (not sure if it needs one).

[2017-03-15 02:38] jonathanolson commented on #22
IIRC, see https://github.com/phetsims/litmus and get jsmol checked out under the relevant directory. I believe lint-everything will complain (so I removed my local copy a few months back). May need to grab old SHAs.

I recall things being fairly hard-coded to load from separate files. Would need to do surgery and fork JSMol to resolve the packaging. Presumably otherwise we'd need to patch all of o

[2017-03-15 07:53] pixelzoom commented on #22
litmus worked at one time, but has likely gotten crusty over time - I believe it was removed from active-repos some time ago.

[2017-03-17 03:06] samreid commented on #6
Unassigning myself until we can have a planning meeting.

[2017-04-04 19:49] phet-steele opened #23 "Error: Assertion failed: homeScreenIcon has invalid aspect ratio: ..."
Run the sim with `?stringTest=xss` to get this error.

[code]

[2017-04-04 20:43] pixelzoom commented on #23
Fixed in master. @phet-steele please verify.

[2017-04-04 20:45] pixelzoom commented on #18
This branch no longer exists. Closing.

[2017-04-04 20:45] #18 closed

[2017-04-04 20:46] pixelzoom commented on #17
This branch no longer exists. Closing.

[2017-04-04 20:46] #17 closed

[2017-04-04 20:47] pixelzoom commented on #6
In https://github.com/phetsims/molecule-polarity/issues/6#issuecomment-259757561, @ariel-phet said:

@ariel-phet Unit Rates is done. When do you want to have this meeting?

[2017-04-04 20:49] pixelzoom opened #24 "handle stringTest"
This sim currently doesn't handle the `stringTest` query parameter, does not adapt to string length.  Mostly a matter of going around and adding `maxWidth` options.

[2017-04-04 20:51] pixelzoom commented on #24
Note to self: Run with `?realMolecules` to add "Real Molecules" screen.

[2017-04-04 20:58] phet-steele commented on #23
Looks fixed, thanks @pixelzoom!

[2017-04-04 20:58] #23 closed

[2017-04-04 23:06] pixelzoom commented on #24
Done, closing.

[2017-04-04 23:06] #24 closed

[2017-05-04 17:14] pixelzoom opened #25 "complete implementation-notes.md"
I ported implementation notes from the Java version -- only 1 line was relevant.

[2017-05-04 17:14] pixelzoom opened #26 "complete model.md"
2D model description was ported from Java in a5a7d80. Remaining work is to describe the 3D model, after we decide how to implement.

[2017-05-04 17:26] pixelzoom commented on #26
2D model description was ported from Java in https://github.com/phetsims/molecule-polarity/commit/a5a7d80173931930ff5b93123bbb3a518f38f016.   Remaining work is to describe the 3D model, after we decide how to implement.

[2017-05-04 17:30] pixelzoom commented on #25
I ported implementation notes from the Java version -- only 1 line was relevant.

[2017-06-27 16:29] amyh-phet commented on #15
Mocked up a possibility for a page to put in place for 3rd screen until we get this sorted out.  Mockup in Molecule Polarity HTML5 folder on drive.

[2017-06-27 19:50] pixelzoom commented on #15
@amyh-phet I don't see the mockup on Google Drive. Can you please provide a link and/or the file name?

[2017-06-27 20:35] amyh-phet commented on #15
@pixelzoom   Sorry.  Got interrupted when going to upload and didn't get the file in drive.  Should be there now.

https://drive.google.com/open?id=0BxDjsEf1xP-WY1NYeERLenNGdnM

[2017-06-27 20:39] pixelzoom commented on #15
For the purposes of discussion, here's what the mockup of the "Real Molecules" screen looks like:

![screenshot_286](https://user-images.githubusercontent.com/3046552/27608856-366132c4-5b46-11e7-85d6-b2766e7641af.png)

I'm confused about the need for this mockup.  Has there been a discussion about publishing Molecule Polarity without the "Real Molecules" screen, and with a placeholder like this?

[2017-06-27 20:44] pixelzoom commented on #15
The "Real Molecules" screen is already fully implemented, with the exception of the 3D viewer. See screenshot below, or run with `?realMolecules` to see it.  Rather than use a mockup (which isn't translatable), I recommend showing a cleaned up version of what's currently implemented, with a translatable dialog like the one shown in the mockup.

![screenshot_287](https://user-images.githubuserconte

[2017-06-27 20:48] amyh-phet commented on #15
@pixelzoom    I will completely defer to you on this one.   I apologize as I wasn't aware of your progress on getting this implemented.  You make an excellent point about this needing to be translatable.

[2017-06-28 15:41] pixelzoom opened #27 "publish without Real Molecules screen?"
This discussion was relocated from #15.

A 3D viewer is required to complete the Real Molecules screen.  JSmol is not compatible with PhET simulations (see #6), so PhET will need to implement a 3D viewer (see #15).  That will require significant time and effort, and is unlikely to happen for some time.

In the meantime... Should Molecule Polarity be published without the Real Molecules screen?

Co

[2017-06-28 15:42] pixelzoom commented on #27
In https://github.com/phetsims/molecule-polarity/issues/15#issuecomment-311479894, I said:

The "Real Molecules" screen is already fully implemented, with the exception of the 3D viewer. See screenshot below, or run with `?realMolecules` to see it.  Rather than use a mockup (which isn't translatable), I recommend showing a cleaned up version of what's currently implemented, with a translatable dia

[2017-06-28 15:43] pixelzoom commented on #15
Moving the discussion about whether to publish without the Real Molecules screen to https://github.com/phetsims/molecule-polarity/issues/27.

[2017-06-28 15:57] pixelzoom commented on #27
In the above commits, I implemented the "under construction" dialog in the Real Molecules screen, shown in the screenshot below.  You can also test drive it in [1.0.0-dev.9](http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.9/molecule-polarity_en.html).

![screenshot_288](https://user-images.githubusercontent.com/3046552/27647130-ca65747a-5be7-11e7-8171-f8d7ad8b50e7.png)

[2017-06-28 16:00] pixelzoom commented on #27
@ariel-phet @emily-phet @kathy-phet Assigning to you to decide whether to move this forward.  If it affects your decision: I have tested this sim extensively, and the code is ready for review.  But implementation of a 3D molecule viewer (#15) is likely a long ways off.

[2017-06-28 16:10] pixelzoom commented on #6
@ariel-phet JSmol integration is clearly not going to happen.  Should we close this issue?

[2017-06-28 16:13] pixelzoom opened #28 "credits"
Finalize credits in [molecule-polarity-main.js](https://github.com/phetsims/molecule-polarity/blob/master/js/molecule-polarity-main.js).

When RC testing is completed, any credit updates should be done in both the 1.0 and master branches.

[2017-06-29 05:33] ariel-phet commented on #6
@pixelzoom good call. Closing

[2017-06-29 13:58] emily-phet commented on #27
Publishing without the 3D viewer seems fine to me. It's a bummer, but having the first two screens available is better than nothing.

- Proposal: I'm not sure it's necessary to include the third screen at all. If there isn't an actual timeline for completion of the third screen, what will we say to people asking when this "Under development" screen will get completed? Unless there's a specific rea

[2017-06-29 14:32] ariel-phet commented on #27
I defer to @emily-phet and @kathy-phet. I am usually not a huge fan of publishing a sim and then adding a screen later, but the circumstances of this sim might be an exception.

[2017-06-29 15:18] kathy-phet commented on #27
My suggestion would be to include a third screen, but with text that redirects users ....
something like:
"The Real Molecules screen is currently not available in HTML5. If your device can run Java, you can access this screen in the legacy Java simulation here: (link to Java)."

[2017-06-29 15:22] kathy-phet commented on #27
Amy - Sorry about the confusion here. I was trying to suggest mocking up some version of a static screen that would let people know it is not available right now, with some appropriate wording.

[2017-06-29 16:02] pixelzoom commented on #27
Questions:

(1) Are we going to proceed with publishing this sim? (I'm not hearing a clear decision.)

If proceeding with publishing:

(2) Who is the  lead designer? I need someone to make decisions.

(3) Shall we omit the Real Molecules screen or display a dialog? (no consensus at the moment).

If showing a dialog:

(4) What is the desired text for the dialog? (no consensus at the moment).

[2017-06-29 16:05] pixelzoom opened #29 "remove JSmol stubs"
Since we're not going to pursue JSmol integration (see #6),the JSmol stubs should be removed from this sim.  I'll likely convert those stubs to something that can integrate with the eventual 3D viewer (#15).

[2017-06-29 16:39] emily-phet commented on #27
Regarding @kathy-phet comment above, referring users to Java version sounds fine to me. How about this wording?
"[large text] Real Molecules screen - not available in HTML5
[regular text] The Real Molecules screen is available in the Java version (link).
To check if your device can run Java simulations, see our list of supported devices (link).
Questions? Email phethelp@colorado.edu"

[2017-06-29 16:46] pixelzoom commented on #27
@emily-phet said:

[regular text] The Real Molecules screen is available in the Java version (link).
To check if your device can run Java simulations, see our list of supported devices (link).

I'm not aware of any common-code support for inserting hyperlinks in scenery Text.  Probably not impossible, but it will add a significant cost.

GitHub is highlighting the email address, so I want to clari

[2017-06-29 16:49] pixelzoom commented on #27
Looks like there's some support for hyperlinks in the About dialog, I'll investigate whether it's been generalized for use in sims.

[2017-06-29 16:52] pixelzoom commented on #27
The About dialog uses joist.LinkText.  It lets you associate a link with text, but _entire_ text becomes the hyperlink.  That's not what we want.  And if I break the dialog text into scenery.Text and joist.LinkText chunks, then we can't handle i18n properly.

[2017-06-29 17:07] pixelzoom commented on #29
Done, closing.

[2017-06-29 17:07] #29 closed

[2017-07-03 18:18] samreid commented on #27
"[large text] Real Molecules screen - not available in HTML5
[regular text] The Real Molecules screen is available in the Java version.
(link)
To check if your device can run Java simulations, see our list of supported devices.
(link)
Questions? We would love to hear from you
(email link)"

[2017-07-03 18:34] pixelzoom commented on #27
To clarify... @samreid (in the above comment) is proposing to put hyperlinks on separate lines.   This will allow us to use joist.LinkText for the hyperlinks.   It requires 4 separate strings for translation, one for each line.

Notes about an email link...
• It could be added using joist.LinkText by doing something like `new LinkText( 'phethelp@colorado.edu', 'mailto:phethelp@colorado.edu', {...}

[2017-07-05 17:01] pixelzoom commented on #27
I'm not getting timely feedback or a clear message on what to do here.

@ariel-phet please pick one of the following, so that I know how to proceed with this issue.

- [ ] Publishing with the first 2 screens.
- [ ] Publish after we complete the "Real Molecules" screen.
- [ ] No decision; defer and revisit on ________ (date).

[2017-07-05 17:03] kathy-phet commented on #27
I picked publish with the first 2 screens above.

Emily has a paper due today, and we haven't had time to discuss, sorry. We will have a phone call, and try to fit it in at the end of that.

[2017-07-05 17:04] kathy-phet commented on #27
It what Sam describes possible then? Providing a way to add hyperlinks.

[2017-07-05 17:13] pixelzoom commented on #27
@kathy-phet asked:

Yes - if we put the links on separate lines, so that we use existing functionality in joist.  And it's unclear when the email link will work on all supported platforms.

[2017-07-05 17:16] ariel-phet commented on #27
@kathy-phet @pixelzoom @samreid @emily-phet personally I would nix the email link. Seems complicated and unnecessary

[2017-07-05 17:45] pixelzoom commented on #27
For these proposed lines:

There is no link that provides "our list of supported devices".  The closest I can come is either:

(1)  the System Requirements FAQ at https://phet.colorado.edu/en/help-center/running-sims/general#q11-header

(2) the legacy sim's System Requirements at https://phet.colorado.edu/en/simulation/legacy/molecule-polarity#requirements-header

According to @mattpen, neither of

[2017-07-05 18:22] pixelzoom commented on #27
Here's a dev version that provides a link to the Java version and an email link.   The "supported devices" was a can of worms, so I deleted it.

Dev version:
http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.10/molecule-polarity_en.html

Screenshot:
![screenshot_292](https://user-images.githubusercontent.com/3046552/27878699-575a189c-617c-11e7-8ff9-5df8d2f91d68.png)

@phet-

[2017-07-05 18:42] phet-steele commented on #27
Starts an email draft (in a new tab in the browser)

Asks you to sign in/create a google account (in a new tab). Signing in does not direct to an email draft. The link in the sim must be clicked again.

[2017-07-05 21:25] pixelzoom opened #30 "code review"
Since this sim will be published without the Real Molecules screen (see #27), we can move forward with code review.

@ariel-phet please prioritize and assign.

I'd like to make one more pass through the code. So whoever is assigned, please wait for the go-ahead from me.

[2017-07-06 01:26] ariel-phet commented on #30
@pixelzoom I am going to have @zepumph tackle this one with support from @jessegreenberg if needed. He has now done reviews of some simpler sims like RIAW and Ohm's Law so this will be a good learning experience for him.

Marking as medium priority since @zepumph has a fair number of things going on. Since we are wanting to publish this sim, it would be good to get out by the end of the summer, so

[2017-07-06 17:13] kathy-phet commented on #27
Review by Emily/Kathy:
- Remove "Questions?" line and email link.
- Change first line to "Real Molecules screen - Not currently available in HTML5"
thanks!

[2017-07-06 17:25] pixelzoom commented on #27
Here's another dev version with these changes from 7/6/17 status meeting:

• Removed "Questions?" text and email link (due to issues on Chromebooks and possibly other platforms)
• Changed first line to read "Real Molecules is not currently available in HTML5."
• Changed second line to read "If your device runs Java, you can use the Java version at"
• Remove all UI elements that were visible behind

[2017-07-06 17:36] pixelzoom opened #31 "convert to named placeholders"
This sim currently uses numbered placeholders in strings. Since it hasn't been published yet, it should be converted to named placeholders.

[2017-07-06 22:18] pixelzoom opened #32 "complete the "Real Molecules" screen"
Because of the time involved in implementing a 3D molecule viewer (#15), the decision was made to publish Molecule Polarity without the Real Molecules screen (#27).

When the Real Molecules screen is added in a future version, here's what needs to be done:

- [ ] Implement a 3D molecule viewer, #15
- [ ] Address TODO issues in the code that reference issue #15
- [ ] Code review for any new code th

[2017-07-06 22:20] pixelzoom commented on #26
Since we decided to publish without the Real Molecules screen (#27), this issue will address only the first 2 screens.  Future additions to this file will be tracked in #32.

[2017-07-06 22:20] pixelzoom commented on #25
Since we decided to publish without the Real Molecules screen (see #27), this issue will address only the first 2 screens.  Future additions to this file will be tracked in #32.

[2017-07-06 22:30] #26 closed

[2017-07-06 23:12] #25 closed

[2017-07-06 23:24] #31 closed

[2017-07-06 23:24] pixelzoom commented on #30
*Please mark failed items with ❌*

PhET code-review checklist
=============

**Build and Run Checks**

- [ ] Does the sim build without warnings or errors?
- [ ] Does the sim start up? (requirejs and built versions)
- [ ] Does the sim experience any assertion failures? (run with query parameter `ea`)
- [ ] Does the sim pass a scenery fuzzer test? (run with query parameter `fuzzMouse&ea`)

**Intern

[2017-07-06 23:31] kathy-phet commented on #27
This looks great to me. Closing.

[2017-07-06 23:31] #27 closed

[2017-07-07 01:05] pixelzoom opened #33 "test for memory leaks"
Test for memory leaks by running with `?ea&brand=phet&realMolecules&fuzzMouse` and comparing heap snapshots.

Note that this will test with the partially-implemented Real Molecules screen (sans 3D viewer).

[2017-07-07 02:05] pixelzoom commented on #33
Consecutive heap snapshots in Chrome, at irregular intervals over 60 minutes:

29.2 MB
33.9
35.5
36.8
38.0
41.4
42.9
45.7
47.0
48.0
52.1
57.2
63.5
64.0
65.2

Pressing "Collect garbage" button had no affect on the heap size.  So looks like there's a memory leak somewhere.   That's surprising to me, since my recollection is that this sim creates everything on startup, there is nothing created dynami

[2017-07-07 03:55] pixelzoom commented on #33
Running the heap test again with `?ea&brand=phet&fuzzMouse` (Real Molecules screen disabled) the results over 2 hours are:

27.4 MB
34.0
34.3
34.8
35.9
37.4
37.3

No I suspect that there's a leak somewhere in the stub implementation of the Real Molecules screen.

[2017-07-07 04:18] pixelzoom commented on #33
The partial implementation of Real Molecules has nothing in client code that looks like it's leaking. The only possibly culprit that I can see might be recent changes to ComboBox, specifically https://github.com/phetsims/sun/commit/ba62d7378da43e24b8f8e925611a3201faa85f18 for https://github.com/phetsims/sun/issues/298.  This bit of code looks suspicious, and references https://github.com/phetsims/

[2017-07-07 04:34] pixelzoom commented on #33
Also wondering if there could be a leak here caused by PhET-iO.  I'm having a difficult time grok'ing the tandem registration, options, etc.  So difficult for me to tell if there's something amiss.

But when the `property` value changes, a new `ComboBoxItemNode`.  It has 2 Emitters:

[code]

Is it possible that something is listening to these Emitters? Or a reference is being kept somewhere to the

[2017-07-07 05:42] pixelzoom commented on #33
`?ea&brand=phet&realMolecules&fuzzMouse` with RealMoleculesComboBox removed from Real Molecules screen, heap snapshots over 1 hour period:

29.1 MB
34.5
34.9
35.5
36.0
36.5
37.0
37.4
37.7
37.9
38.5
39.1
40.1
40.3
40.6
40.6
40.6

So like the test without the Real Molecules screen, the test without the ComboBox eventually stabilizes at ~40MB and doesn't grow any more.

This is further evidence that

[2017-07-07 06:01] pixelzoom commented on #33
This test is the "Real Molecules" screen only, and only `RealMoleculesComboBox` added to `RealMoleculesScreenView`.  So there's nothing interactive except the combo box and the PhET menu. `?ea&screens=3&realMolecules&fuzzMouse&fuzzRate=1000` (Note the higher `fuzzRate`).

Heap snapshot sizes over 15 minute period:

18.5 MB
19.4
21.4
23.9
27.5
34.3
44.0
49.2
57.4
61.6

Comparing snapshots, each com

[2017-07-07 06:04] pixelzoom commented on #33
@zepumph @samreid FYI... ComboBox appears to have a serious memory leak.

[2017-07-07 06:16] pixelzoom commented on #33
@zepumph @samreid When the value of `property` changes, a new `ComboBoxItemNode` is created, see line 270.  I don't see anything in ComboBox.js that deregisters the previous `ComboBoxItemNode`.  Should it in fact be deregistered? Could this cause a leak in a non-PhET-iO sim?

[2017-07-07 06:22] pixelzoom commented on #33
@jonathanolson I see that you added `ComboBoxItemNode.dispose` in https://github.com/phetsims/sun/commit/ba62d7378da43e24b8f8e925611a3201faa85f18.  Should it handle PhET-iO de-registration?

[2017-07-07 14:00] samreid commented on #33
`Node.dispose` deregisters the Tandem

[code]

[2017-07-07 15:36] jonathanolson commented on #33
It's as intended, but has a poor name (sorry!).

Possibly, I only fixed one memory leak in my changes, but didn't exhaustively scan for others.

I assume Node's dispose() should handle that?

I'll look into what's going on briefly here.

[2017-07-07 15:46] jonathanolson commented on #33
It's definitely my fault, I was using dispose() to detach children/parents, but that change wasn't actually live yet as part of https://github.com/phetsims/scenery/issues/629, so instead it's leaking. Sorry!

After that change is applied, the ComboBoxItemNode count stays fully steady at 21 during fuzzing with the above query parameters.

[2017-07-07 15:51] jonathanolson commented on #33
Didn't check for other memory leaks, but I believe I've resolved the leak of ComboBoxItemNode.

[2017-07-07 18:09] zepumph commented on #33
I pulled after https://github.com/phetsims/scenery/commit/66494d33f35c9d0c1a3efe70b927b650735b482a

and tried again with this link

http://localhost/molecule-polarity/molecule-polarity_en.html?ea&brand=phet&realMolecules&screens=3&fuzzMouse&fuzzRate=3000

After 45 minutes of testing, beginning at 24.2 MB, I ended at 68.8MB.

[2017-07-07 20:59] pixelzoom opened #34 "replace LinkText with RichText"
See https://github.com/phetsims/joist/issues/430

[2017-07-07 21:27] pixelzoom commented on #34
@jonathanolson can you please review my use of `links: true` for RichText in UnderDevelopmentPlane?   I'm assuming this is OK, since the text (and link) is totally contained with the source code, and there's no opportunity for links to be inserted nefariously.

[2017-07-07 21:32] jonathanolson commented on #34
Looks good to me.

[2017-07-07 21:37] pixelzoom commented on #34
Thanks. Closing.

[2017-07-07 21:37] #34 closed

[2017-07-07 22:25] pixelzoom commented on #33
With the test in https://github.com/phetsims/molecule-polarity/issues/33#issuecomment-313594593, I verified that the ComboBoxItemNode leak is fixed.  Memory holds steady at ~23MB, and heap comparisons show that ComboBoxItemNode is being freed (# Deleted is non-zero).

Now I'll investigate why @zepumph is still seeing a leak in https://github.com/phetsims/molecule-polarity/issues/33#issuecomment-31

[2017-07-07 23:31] pixelzoom commented on #33
Re @zepumph's test in https://github.com/phetsims/molecule-polarity/issues/33#issuecomment-313754226...

With `?ea&brand=phet&realMolecules&screens=3&fuzzMouse&fuzzRate=3000` over 60 minutes, I see memory increasing from 21.7 to 46.5 MB, and didn't stabilize during that time.   I don't see anything obvious in heap comparisons to account for the leak.

[2017-07-07 23:34] jonathanolson commented on #33
I'm curious, some leaks I've seen don't result in a "holding references to objects not needed", but more of an "array keeps getting appended to, so grows in size". Maybe that would describe why there wasn't any indication in heap comparisons?

[2017-07-08 00:02] pixelzoom commented on #33
Hmmm... I let the test in https://github.com/phetsims/molecule-polarity/issues/33#issuecomment-313815896 run for another 30 minutes, and memory stabilized at ~47 MB.  That doesn't seem unreasonable, since `?screens=3` still instantiates all 3 screens.  But why did @zepumph see 68.8 MB?

[2017-07-08 00:13] pixelzoom commented on #33
Retract that... It's not stabilized, it's still growing, 50.7 MB after another 15 minutes.

[2017-07-08 00:33] pixelzoom commented on #33
Worked with @jonathanolson on this via Skype.  This is yet-another leak in Dialog, to be added the list in https://github.com/phetsims/joist/issues/357.  When the Options menu item is selected, a new OptionsDialog is created and passed `options.optionsNode` that was provided to Sim constructor.  In the case of molecule-polarity, `optionsNode` is a `MPOptionNode` -- see *main.js.

In the console:

[2017-07-08 03:14] samreid commented on #33
Yes, all Screen objects are instantiated, but only the models and views for screen 3 are instantiated.

[2017-07-08 03:58] pixelzoom commented on #33
Ugh.

`?ea&realMolecules&brand=phet&fuzzMouse&fuzzRate=3000` over a 3 hour period:

30.2 MB
...
107 MB

Here's a comparison of the last 2 heaps:

![screenshot_297](https://user-images.githubusercontent.com/3046552/27982478-3cee6578-635f-11e7-84b7-49fe6bfc3173.png)

Expanding the first `(array)` shows a boatload of instances of SVGDrawable subtypes. See screenshot below.  @jonathanolson is this any

[2017-07-08 04:34] samreid commented on #33
On master there is still an OptionsDialog leak. (not sure if that's a known problem)

[2017-07-08 04:59] pixelzoom commented on #33
How did you determine this?

[2017-07-08 05:02] pixelzoom commented on #33
Not a problem that I know about.  How did you determine this?

[2017-07-08 05:06] samreid commented on #33
Run without fuzzing: http://localhost/molecule-polarity/molecule-polarity_en.html?brand=phet&ea

Memory snapshot

do this 5 times:
 - click options dialog then dismiss the options dialog

Memory snapshot

Compare memory snapshots and sort by deltas

![image](https://user-images.githubusercontent.com/679486/27982747-877a5fee-6368-11e7-95ef-d29c0a6d0bbc.png)

Note that there are a bunch of types wit

[2017-07-08 05:15] jonathanolson commented on #33
I'll look into this tonight.

[2017-07-08 08:13] jonathanolson commented on #33
Fixed another Dialog leak (not the cleanest way, but I really don't want to dive into that right now).

Checking to see if there's anything else.

[2017-07-10 15:56] pixelzoom commented on #30
@zepumph This sim is ready for your review.

Memory testing is close to wrapping up in https://github.com/phetsims/molecule-polarity/issues/33. All memory leaks have been in common code, so I'm confident that there will be no significant sim changes required.

[2017-07-10 15:56] pixelzoom commented on #30
@zepumph Please reference this issue in any related GitHub issues that you create.

[2017-07-10 16:29] pixelzoom commented on #33
`?ea&realMolecules&brand=phet&fuzzMouse&fuzzRate=3000` over a 1-hour period:

28.8 MB
...
38.4 MB

Memory usage stabilized ~38 MB.

I'm confident that this sim will not have memory issues in practice.

To summarize:
• No memory leaks were found in sim code.
• 1 memory leak was fixed in RichText.
• 2 memory leaks were fixes in Dialog.

Closing. Thanks @jonathanolson and @samreid for your assistance

[2017-07-10 16:37] pixelzoom commented on #30
Memory testing #33 has been completed. No changes to sim code were required.

[2017-07-10 21:47] kathy-phet opened #35 "Can cursor image match Java "rotate cursor" when mousing over atom?"
In Java, we added a cursor rotation mouse image, to help students realize that they can rotate the atom.

Can we do this again in HTML5? I don't see it in the current implementation.

[2017-07-10 21:52] emily-phet opened #36 "Suggestion Re: Background color choice for Real Molecules placeholder screen"
Should the background color on the Real Molecules placeholder screen be the same as the background color for the first two screen?
Perhaps it is technically the same color, but slightly 'grayed' out like other dialogs in PhET...but since there's no screen to go back to maybe it should stay the exact same background color.

I don't have a strong feeling about this:
- if this was already discussed g

[2017-07-10 22:00] pixelzoom commented on #35
The cursor in Java was a custom cursor.  We currently don't have support for custom cursors in HTML5, and there is no built-in cursor that looks like the one in Java.

We realized this early in the port of Molecule Polarity to HTML5, and switched to an indicator that appears around the rotatable molecule.  It appears in the "Three Atoms" screen, see the green arrows around atom 'B':

![screenshot_

[2017-07-10 22:03] pixelzoom commented on #35
We also thought that the green "rotate" arrows around atom B were more consistent with the "translate" arrows that appear around atoms A and C.  Now all 3 atoms have an indicator that disappears when you start interacting, and the cursor is the same.

[2017-07-10 22:05] pixelzoom commented on #35
FYI, you can view the built-in cursors at http://phetsims.github.io/scenery/examples/cursors.html.  Mouse over the rectangles to change your cursor.  Some of these are not supported by all browsers.

[2017-07-10 22:10] pixelzoom commented on #36
The background color is the same for all 3 screens.  "Real Molecules is not available in HTML5" is in a modal dialog.  Modal means that you can't interact with anything on the screen while the dialog is open.  The default behavior of a modal dialog is to therefore dim everything behind it while the dialog is open.   The About dialog (available via the PhET menu) is another example of a modal dialo

[2017-07-10 22:13] pixelzoom commented on #35
In the code for the green "rotate" arrows around atom B, I see this comment that describes the arrows:

Since the arrows are used to indicate that dragging the atom will change the molecule angle, I think it would be fine to use these arrows around atoms A and B in the "Two Atoms" screen.  If that's something you'd like @kathy-phet ...

[2017-07-10 22:14] ariel-phet commented on #36
Let's leave the current behavior considering @pixelzoom comments (I think this makes the dialog consistent with other such uses). Closing.

[2017-07-10 22:14] #36 closed

[2017-07-10 22:15] kathy-phet opened #37 "Electrostatic potential color on legend scale seems reversed from Java"
So the potential color scale displayed on the molecule's atoms match the java ... but the color scale on the legend is inverted from java.

Here is Java:
![image](https://user-images.githubusercontent.com/5096804/28041775-e8110094-6587-11e7-8295-955a8d53184a.png)

Here is HTML
![image](https://user-images.githubusercontent.com/5096804/28041795-f7bc828e-6587-11e7-9c16-eb22e5b09cbe.png)

Java is cor

[2017-07-10 22:18] pixelzoom commented on #37
It's also incorrect (inverted) for Electron Density.

[2017-07-10 22:32] pixelzoom commented on #37
Fixed the colors in the color keys. Colors applied to the molecules are unchanged.

@kathy-phet please verify in this dev version:
http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.12/molecule-polarity_en.html

[2017-07-10 22:35] pixelzoom commented on #28
@emily-phet please let me know if anyone else needs to be added to the credits.  (QA credits will be completed by @phet-steele after RC testing).  Here are the current credits, copied from the Java version:

![screenshot_303](https://user-images.githubusercontent.com/3046552/28043130-b686a604-658d-11e7-8b87-30e1c5e13778.png)

[2017-07-10 22:35] pixelzoom commented on #28
Whoopsie, I pressed the close button. Reopening.

[2017-07-10 22:46] pixelzoom opened #38 "test multi-touch"
Test multi-touch, especially interacting with more than 1 atom simultaneously.

[2017-07-11 04:06] kathy-phet commented on #37
fixed

[2017-07-11 04:09] kathy-phet opened #39 "Slider behavior different than Java"
In the Java version, the slider is smooth when user slides it, but then snaps to the nearest tick when let go. This seems nice because its easier to make sure you have them on exactly equivalent tick marks. I like that it is still smooth though when sliding so it doesn't appear jerky like it would if it just snapped during the slide.

Any reason not to match this behavior in HTML5 sliders?

[2017-07-11 04:18] kathy-phet opened #40 "Some garbage collection (?) make motion a bit jerky at times."
This is not a learning goal of the sim, and in fact the rotation dynamics is not physically correct, but I do notice garbage collection making the rotation animation halt/glitch at times when I play with it. Low priority in my view, but thought I would report it.

[2017-07-11 11:37] emily-phet commented on #28
@pixelzoom Looks good to me. Let's go with this.

[2017-07-11 14:47] kathy-phet commented on #35
@pixelzoom @emily-phet -- I think I would favor using the arrows that are currently used for atoms A and C on screen 2 on the A/B atoms of screen 1.   I could live with the way it is now, but I think the consistency of making that functionality explicit between the two screens is good, and it is more likely that they will see some behavior when they turn on the electric field if they have tried ro

[2017-07-11 14:48] kathy-phet commented on #37
looks good, closing.

[2017-07-11 14:49] #37 closed

[2017-07-11 14:53] kathy-phet commented on #28
And add QA team when they know who will test. :)

[2017-07-11 15:05] pixelzoom commented on #40
@kathy-phet On what platform are you experiencing "rotation animation halt/glitch"?

[2017-07-11 15:11] kathy-phet commented on #40
Windows 7 Enterprise, Service Pack 1
Chrome: Version 59.0.3071.115 (Official Build) (64-bit)

It's like a hiccup.

[2017-07-11 15:13] pixelzoom commented on #35
@kathy-phet said:

Those arrows are documented as:

... and we're not changing bond angle in the "Two Atoms" screen, we're rotating the molecule.  There's nothing technical preventing their use in "Two Atoms", but that was not their original purpose when designed, as indicated by the documentation. And I'm wondering why we'd want to change this, since Java used the "rotate molecule" indicator in "

[2017-07-11 15:18] kathy-phet commented on #35
Well, in the three molecule screen the rotation arrows make sense because it spins around that central atom. In the two molecule screen it translates the atoms about the central point of rotation. So the behavior in the two atom screen seems more consistent with the look of the A/C atoms.

[2017-07-11 15:20] pixelzoom commented on #35
OK, I will change the behavior from the Java sim.

[2017-07-11 15:20] pixelzoom commented on #35
... and change the documentation to match the new re-purposing of the "bond angle" arrows.

[2017-07-11 15:21] kathy-phet commented on #35
Let's let @emily-phet weigh in too.

[2017-07-11 15:37] pixelzoom commented on #35
It was trivial to add the arrows, 4 lines of code. So here are two dev versions that let you compare the two different types of arrows on the A and B atoms in "Two Atoms" screen.  Mouse over the atoms to see the arrows.  Compare with the "Three Atoms" screen.

[1.0.0-dev.13](http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.13/molecule-polarity_en.html) - bond angle (straig

[2017-07-11 15:46] pixelzoom commented on #39
"Snap to tick" was originally implemented in the port, then disabled in a commit on 2/5/14.  I don't recall why it was disabled.  I've restored it in [1.0.0-dev.15](http://localhost/~cmalley/GitHub/molecule-polarity/build/molecule-polarity_en.html?ea).   Now I'm wondering if we should make the minor tick marks longer. When the snap happens, you can't see the alignment between the tick and the slid

[2017-07-11 15:53] pixelzoom commented on #39
Here's a dev version where you can see the alignment between tick and thumb.  I made all tick marks longer, major tick marks a bit heavier (lineWidth:2) and minor tick marks a bit lighter (lineWidth:0.5). Opinions?

http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.16/molecule-polarity_en.html

[2017-07-11 15:56] kathy-phet commented on #39
The comment on the thumb slider and being able to see its position relative to the minor ticks is more of a limitation of the current thumb slider design. It's why we used the pointy design previously. I think we should bring this discussion to the broader design team and discuss if there is a slider thumb variant option we want to design as an alternate in common code for places we decide it matt

[2017-07-11 15:59] kathy-phet commented on #39
Let's hear from @emily-phet re the snap to and non snap to behavior as well.

[2017-07-11 16:01] pixelzoom commented on #40
I haven't been able to reproduce this.  Maybe I'm not clear on what you're describing.

By "rotation animation", I assume you mean the animation that occurs when you have the E-field on, and you release the molecule. And that you're seeing glitchy motion when the molecule is animating into alignment with the E-field.  Is that correct?

[2017-07-11 16:02] pixelzoom commented on #40
And is the glitch present in one screen or both?

[2017-07-11 16:08] kathy-phet commented on #40
I played with it again. It seemed better. Still saw a few hiccups. I don't think we should worry about it. It's doesn't interfere with the learning goals. I'll show it to you on Thursday (perhaps if I rebooted it would be gone, but its not a good time to do that right now).

[2017-07-11 16:09] pixelzoom commented on #39
Slider thumb is totally customizable.  It can be made to look like "the pointy design" if you prefer.  I recall that it was explicitly changed to look like it does now for uniformity across sims.

Let me know how you'd like to proceed.

[2017-07-11 16:10] pixelzoom commented on #39
Slider thumb is totally customizable.  It can be made to look like "the pointy design" if you prefer.  I recall that it was explicitly changed to look like it does now for uniformity across sims.

"Snap to tick" behavior is your call - I don't know whether it's important to the learning goals, or important to have sliders set to identical values.

Let me know how you'd like to proceed.

[2017-07-11 16:10] kathy-phet commented on #39
I would like to do a mini-design meeting on Thursday. If @ariel-phet and @emily-phet agree.

If these two behaviors don't impact other QA testing in your opinion, then Steele could still hammer to find what he finds.

[2017-07-11 16:12] pixelzoom commented on #40
Reboot shouldn't affect it.  What could affect it is the number of browser windows/tabs that you have open.   And I have no control over that :)

[2017-07-11 16:21] pixelzoom commented on #39
For the benefit of @emily-phet and @ariel-phet, here's a summary of the slider "looks".

Sliders in the Java version:

![screenshot_307](https://user-images.githubusercontent.com/3046552/28078414-0443ff42-6622-11e7-8354-c271bc558a64.png)

Sliders in [1.0.0-dev.15]( http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.15/molecule-polarity_en.html) with default look:

![screensh

[2017-07-11 17:09] pixelzoom commented on #39
Here's a dev version with a custom "pointy thumb" ala the Java version. All other aspects of the slider (thumb colors, tick lengths and thicknesses,...) are defaults and can be easily tweaked.  Vertical offset of the thumb (relative to the slider track) is also easy to change.

http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.17/molecule-polarity_en.html

![screenshot_313]

[2017-07-11 17:10] emily-phet commented on #39
@kathy-phet We're also creating a11y guidelines (keyboard nav) for phet sliders, might be nice to make a Thursday design meeting slightly broader to include the look and feel of phet sliders.

[2017-07-11 17:28] pixelzoom commented on #39
Getting Molecule Polarity out the door is supposed to be a "quick" side project, and I need to get back to the higher priority things on my plate.  If @kathy-phet and @ariel-phet want to reprioritize what I'm working on, I'll be happy to participate in a broader a11y discussion.  Otherwise I'd like to focus on decisions for this specific GitHub issue, i.e.: (1) should "snap to tick" be enabled, (2

[2017-07-11 19:13] pixelzoom commented on #35
Note to self: It we go with 1.0.0-dev.13 (bond angle arrows), then amend the documentation for BondAngleArrowsNode to indicate that they have been repurposed.  Something like:

[code]

[2017-07-11 23:05] zepumph opened #41 "Should the hyperlink on the Real Molecules screen be translatable?"
as part of #30 (code review)
I don't mean this in the sense that the translators can edit the hyperlink, because I think that will just lead to cans of worms being freed. I am just wondering if we wanted to detect the local, and adjust the link accordingly to go to the correct language of the website. So for spanish the link would be

https://phet.colorado.edu/es/simulation/legacy/molecule-polarit

[2017-07-11 23:06] zepumph commented on #30
Everything except the hyperlink on the real molecules page, which I think is desirable. Correct me if I am wrong.

[2017-07-11 23:15] zepumph opened #42 "Should Real Molecules dialog always stay within screen bounds?"
From code review #30

I noticed on `stringTest=xss` and confirmed with

http://localhost/molecule-polarity/molecule-polarity_en.html?brand=phet&ea&stringTest=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

If the string is long enough, the

[2017-07-12 01:27] pixelzoom commented on #41
We decided not to allow translation of links because it's a security risk.  The user will be directed to the main (English) sim page, where they can then select "Translations" to choose their language.

Closing as "won't fix".

[2017-07-12 01:27] #41 closed

[2017-07-12 01:32] pixelzoom commented on #30
@zepumph I noticed that you marked this item with as failing:

This sim has 2 images and (for both of them) images/license.json indicates:

So there is no assets/ directory because there are no images that were produced from a .ai file.  The checklist should probably be modified to be a little clearer on this point.

[2017-07-12 01:44] pixelzoom commented on #42
Fixed in master. Tested with `?dev&xss`, see screenshot below. @zepumph please verify.

![screenshot_52](https://user-images.githubusercontent.com/3046552/28098058-48ec3174-6671-11e7-930c-ab0ea0028bb7.png)

[2017-07-12 04:00] emily-phet commented on #35
To be honest, I don't see a difference between the two versions... we're talking about the two curved arrows that indicate rotation that appear over individual atoms to indicate rotation?

[2017-07-12 04:11] emily-phet commented on #39
OK.
- Yes to "snap to tick"
- Could you (or someone else) create a mockup of the pointy slider thumb with slightly elongated thumb (maybe 15% more, upwards), increased tick marks (wit minor tick marks maybe 50% the length of your example with the really long minor tick marks).With this mockup suggestion, I'm trying to address a potential issue with the pointy thumb still "feeling" small for touch

[2017-07-12 04:52] pixelzoom commented on #35
@emily-phet said:

"Two Atoms" screen, mouse over the A atom, arrows will appear around the atom

In 1.0.0-dev-13, the arrows look like this:

![screenshot_56](https://user-images.githubusercontent.com/3046552/28102298-8f7302a2-668b-11e7-8aa3-523c20967911.png)

In 1.0.0-dev.14, the arrows look like this:

![screenshot_55](https://user-images.githubusercontent.com/3046552/28102307-975d90a4-668b-11e

[2017-07-12 04:54] pixelzoom commented on #39
I don't understand this, please clarify.

[2017-07-12 04:56] pixelzoom commented on #39
This is all really easy/quick to tweak on the fly, so perhaps I should just change it while projecting on Thursday, until we get what makes everyone happy.

[2017-07-12 05:05] pixelzoom opened #43 "PHET_IO in molecule-polarity-config.js?"
As part of code review #30, @zepumph removed `PHET_IO` from molecule-polarity-config.js in https://github.com/phetsims/molecule-polarity/commit/6e226e171232cbfce832c7b9e9457fca8f67f416.   But I see that @samreid added it in https://github.com/phetsims/molecule-polarity/commit/f1205f4c7e2526699af612b8758d08e5247447e6, and apparently did so for _all_ {{REPO}}-config.js files, https://github.com/phet

[2017-07-12 05:12] pixelzoom commented on #43
Btw... If it's no longer needed here, then that's a more general issue, and it should probably be removed from _all_ {{REPO}}-config.js files where it's not needed.

[2017-07-12 17:36] zepumph commented on #30
I've never seen that pattern before (using the screenshot as the source of an image file), but that sounds good to me. Would you mind updating the checklist?

[2017-07-12 17:50] zepumph opened #44 "Should jsMole dir be in .gitignore?"
From code review #30

I see a dir for jsmole, should that remain? I read through #15 and #22 and found that perhaps that is being phased out. @pixelzoom I'll let you decide and fix if needed.

[2017-07-12 22:15] samreid commented on #43
I tried removing PHET_IO from the molarity config.js file and after doing so was unable to launch phet-io-wrappers/instance-proxies/instance-proxies.html?sim=molarity&ea

because this GET fails:
[code]

I suspect it is also necessary for PhET-iO builds.  Does this seem reasonable?

[2017-07-12 23:29] pixelzoom commented on #43
@samreid asked:

I don't know. This sim isn't instrumented.  Should we wait to add PhET-iO dependencies as part of the instrumentation process?

[2017-07-12 23:29] pixelzoom commented on #43
... and what was the motivation for adding PhET-iO dependencies to config.js for all sims?

[2017-07-12 23:36] zepumph commented on #43
That seems reasonable to me. Isn't molarity instrumented though? I would expect it to fail in phet-io mode.

[2017-07-13 03:12] samreid commented on #43
We wanted to make it so that simulations could do PhET-iO record and playback without any instrumentation.  However, it did require adding PHET_IO to the config.js files.

[2017-07-13 16:04] pixelzoom commented on #38
Everything seems to be working fine with multi-touch.  I added calls to `ScreenView.interruptSubtreeInput` to interrupt drag interactions when the Reset All button is pressed.

Closing.

[2017-07-13 16:04] #38 closed

[2017-07-13 16:08] pixelzoom commented on #44
The entry for `jsmol-14.2.4` in .gitignore is indeed vestigial, left over from when we were pursuing JSmol as a solution for the 3D molecule viewer.  I've removed it in the above commit.

[2017-07-13 16:08] #44 closed

[2017-07-13 16:47] pixelzoom commented on #43
Labeled for developer meeting, so we can get a consensus on when to add `PHET_IO` to config.js.

[2017-07-13 17:30] zepumph commented on #43
It seems like there is always a manual step before getting a sim ready for record and playback. This is because not all ui components are instrumented for the data stream, so we have to make sure that everything is being emitted that we want. It seems reasonable that we would just add the PHET_IO dependency during that step, instead of always having it with every sim.

I would even argue that havi

[2017-07-13 17:40] pixelzoom commented on #43
My vote would be to add `ifphetio` and `PHET_IO` to config.js when it's needed.  And indicate that in https://github.com/phetsims/phet-io/blob/master/doc/how-to-instrument-a-phet-simulation-for-phet-io.md.

[2017-07-13 18:47] pixelzoom commented on #43
7/13/17 dev meeting:
• restore PHET_IO in molecule-polarity-config.js
• for config.js checklist item, indicate that all config.js files will have PHET_IO and ifphetio

@zepumph will handle.

[2017-07-13 19:42] pixelzoom commented on #35
7/13/17 design meeting:
• use 1.0.0-dev-13 (straight arrows)
• change documentation and type names to indicate new behavior ("move molecule")

[2017-07-13 19:53] pixelzoom commented on #39
7/13/17 design meeting:
- pointy slider
- shorter (20 length) ticks

[2017-07-13 19:57] pixelzoom commented on #40
@kathy-phet experienced the issue with animation when the E-field was on. She had a lot of browser tabs open.   Performance was ok after she closed tabs and restarted browser.  So we're not going to worry about this.

Closing.

[2017-07-13 19:57] #40 closed

[2017-07-13 20:23] pixelzoom commented on #35
Changes have been completed, and internal documentation has been changed.

@kathy-phet or @emily-phet please verify in this dev version:
http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.19/molecule-polarity_en.html

Feel free to close if it looks OK.

[2017-07-13 20:26] pixelzoom commented on #39
Changes have been completed, and internal documentation has been changed.

@kathy-phet or @emily-phet please verify in this dev version:
http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.19/molecule-polarity_en.html

Feel free to close if it looks OK.

[2017-07-13 20:31] zepumph commented on #43
in 41969824346b861c136cd8d8e1fc90dfca87be68 I reverted the dependency update.  I also updated the checklist above. Closing.

[2017-07-13 20:31] #43 closed

[2017-07-13 20:36] zepumph commented on #42
Looks great, thanks for the speedy turnaround. Closing

[2017-07-13 20:36] #42 closed

[2017-07-13 20:55] zepumph opened #45 "Rename Bond/MoleculeAngleHandler to *AngleDragHandler?"
From code review #30.

This may be a bit clearer with what the type is doing. It also seems idiomatic with other subtypes of SimpleDragHandler.

I defer to your judgment @pixelzoom.

[2017-07-13 21:19] pixelzoom commented on #45
That sounds reasonable, will do.

[2017-07-13 21:27] zepumph opened #46 "SurfaceColorKey is a factory, not a type."
From code review #30.

I think it is a bit confusing the way that SurfaceColorKey is used, albeit really clever.  It is named as though it is a constructed type, but the new operator is only ever used internally. I think it would be more clear to outsiders if it were renamed to surfaceColorKeyFactory, or something like that. Then SurfaceColorKey could be private to that file, and returned in the f

[2017-07-13 21:31] pixelzoom commented on #45
Changes push. @zepumph please verify.

[2017-07-13 21:37] zepumph commented on #45
Looks good, thanks.

[2017-07-13 21:40] pixelzoom commented on #46
SurfaceColorKey is not a factory.  It's a subtype of Node that has static factory methods contain code that would otherwise be duplicated in multiple ScreenViews.

For example, in TwoAtomsScreenView, I could replace:

`var electronDensityColorKey = SurfaceColorKey.createElectronDensityColorKey();`

with:

` var electronDensityColorKey = new SurfaceColorKey( MPColors.BW_GRADIENT, electronDensityStr

[2017-07-13 21:41] pixelzoom commented on #46
Reopening so @zepumph can review and has the opportunity to disagree.

[2017-07-13 22:08] #45 closed

[2017-07-13 22:17] zepumph commented on #46
I understand that, and fully agree; duplicated code there is no good. I don't feel strongly about this, but the suggestion I was pondering was the following, all in `surfaceColorKeyFactory.js`:

[code]

Usage in a screen view:
`surfaceColorKeyFactory.createElectrostaticPotentialRWBColorKey( COLOR_KEY_OPTIONS )`

My question is if this makes more sense than what is currently implemented.

If not, c

[2017-07-13 23:50] zepumph opened #47 "[AtomNode] Why not extend ShadedSphereNode?"
This is a question about rationale. I am often curious about the different implementations for Nodes.
AtomNode is a Type that extends Node and has children nodes too. Is there a benefit to that versus a Type that extends that child node's Type? Could you explain if it is better to do it one way or the other? To be more clear, this is the other implementation that I am thinking of

[code]

[2017-07-14 00:05] zepumph opened #48 "Clarify visibility annotation in DiatomicMoleculeNode"
from code review #30
I'm confused about this comment before a batch of node declarations:

[code]

Could you be a bit more specific. I didn't realize visibility annotations could change throughout the lifetime of a sim. If I'm just ignorant please inform and sorry to both with another issue.

[2017-07-14 00:07] zepumph opened #49 "TranslateArrowsNode should be in common/"
From code review #30
I see this import line in `twoatoms/view/DiatomicMoleculeNode.js`:
`  var TranslateArrowsNode = require( 'MOLECULE_POLARITY/threeatoms/view/TranslateArrowsNode' );`

This type should be factored out to common.

[2017-07-14 00:53] zepumph commented on #46
After seeing this same pattern in `PartialChargeNode.js`, I think the best way to proceed is to add a comment like so at the top of files like this, so people know that the developer didn't really expect the Type to be instantiated publicly.

" * Uses static factory methods to supply the needed instances for the sim."

[2017-07-14 17:15] pixelzoom commented on #49
Good catch.  `TranslateArrowsNode` was originally used only in "Three Atoms", but decisions in #35 add it to "Two Atoms" too.  I've moved it to common.  Closing.

[2017-07-14 17:15] #49 closed

[2017-07-14 17:17] pixelzoom commented on #47
The approach I used is referred to as composition.  The approach that you're suggesting is referred to as decoration.   Both are legitimate approaches.  In this case, I prefer composition, since I don't want to expose the `ShadedSphereNode` API to the client.   Make sense?

[2017-07-14 17:19] zepumph commented on #47
Yes thanks.

[2017-07-14 17:19] #47 closed

[2017-07-14 17:20] pixelzoom commented on #46
Documentation added, @zepumph please review.

[2017-07-14 17:22] zepumph commented on #46
Looks great thanks.

[2017-07-14 17:22] #46 closed

[2017-07-14 17:23] pixelzoom commented on #48
You're confusing visibility of Nodes (whether they are rendered) with visibility annotations.

I've removed the confusing comment. @zepumph please review.

[2017-07-14 17:27] pixelzoom opened #50 "when to make "cueing arrows" visible for atoms"
Related to https://github.com/phetsims/molecule-polarity/issues/35.

Via email (Subject: Molecule Polarity and Touch), @kathy-phet said;

Via email, @emily-phet replied:

Via email, @kathy-phet replied:

[2017-07-14 17:29] #48 closed

[2017-07-14 17:37] pixelzoom commented on #50
I'm not convenience that the current proposal is the best solution.  And it's non-trivial to implement (though that's a secondary consideration.)

First, I think the "cueing arrows" are largely unnecessary, and that students will find (and have found, in interviews) the atoms to be "inviting" to interaction.  If that's not the case, then we have a larger design problem.   Also, as I recall, the pr

[2017-07-14 17:40] kathy-phet commented on #50
@arouinfar did some interviews on this sim today on touch. And they did not find that you can move the molecules or rotate anything.

So I think the solution to have the cuing arrows there on start up is appropriate.

Here are my recommendations:
- Screen 1: Cuing arrows up on start up. They all go away if you successfully move either atom. But not if all you do is tap the atom.
- Screen 2: Cuing

[2017-07-14 17:42] kathy-phet commented on #50
Chris - This was Emily's suggestion. And I agreed with it.

[2017-07-14 17:44] pixelzoom opened #51 "change initial orientation of the diatomic molecule?"
A concern about the diatomic molecule has been voiced multiple times:  If the E-field is turned on when the molecule is in its initial orientation, the dipole is already aligned with the E-field, and there will no change in the molecule's orientation.   So the student won't get any feedback and might not use the E-field again.

Should we consider changing the default orientation?  Perhaps somethin

[2017-07-14 17:45] pixelzoom commented on #50
Your initial question was about touch, and I don't see anything in @emily-phet's reply that suggested doing it for both touch and mouse.  Thanks for the clarification.

[2017-07-14 17:49] pixelzoom commented on #50
Estimate is 2-3 hours to implement.

[2017-07-14 17:52] kathy-phet commented on #50
OK. Fit it in when you can. Did the specifics of this sound OK?

Screen 2: Cuing arrows up on start up. The ones on Atoms A/C go away if you move either to change the bond angle. The center one goes away if you successfully rotate (manually) the atom ... but not if it rotates itself due to the e-field. Again, neither goes away if all you do is tap the atoms.

[2017-07-14 17:56] pixelzoom commented on #50
Yes. That's what the estimate is based on.

[2017-07-14 17:58] kathy-phet commented on #51
I think it's important to have a horizontal orientation to have the right/left association with the sliders, but we could consider a change in the default start up of the electronegativity settings on the sliders. This setting below, would result in a flip:
![image](https://user-images.githubusercontent.com/5096804/28224183-6856cbc0-688b-11e7-988c-64a80f61c3e3.png)

Or swapping the positive and ne

[2017-07-14 17:58] kathy-phet commented on #51
@emily-phet - Thoughts on this?

[2017-07-14 18:00] kathy-phet commented on #51
But changing the positive/negative terminals might impact more of the existing lessons. Hmmm.

[2017-07-14 18:00] pixelzoom commented on #51
I've also wondered if we should have some visual representation of the E-field (something shown between the plates) when the E-field is on.  The presence of the positive and negative terminals is a bit subtle, and students may forget that they have the E-field "on' in the control panel.

[2017-07-14 18:01] pixelzoom commented on #51
Having a visual representation of the E-field might also reinforce the alignment between the dipole and E-field.

[2017-07-14 18:02] kathy-phet commented on #51
That could be nice. Subtle in the background. @emily-phet?

[2017-07-14 18:06] pixelzoom opened #52 "add a visual representation of E-field?"
This came up during discussion of https://github.com/phetsims/molecule-polarity/issues/51.  I've move the related comments here.

I said:

@kathy-phet said:

[2017-07-14 18:06] pixelzoom commented on #51
Moving the discussion about E-field representation as separate issue (#52).

[2017-07-14 18:08] pixelzoom commented on #51
My vote would be for flipping the initial direction of the dipole, as you've shown in https://github.com/phetsims/molecule-polarity/issues/51#issuecomment-315425394.

Swapping the terminals would impact not only lesson plans, but any screenshot, including the screenshot for the sim's web page.

[2017-07-14 18:09] pixelzoom commented on #51
Also worth noting that any existing lesson plans are for the Java version.  And since the HTML5 version has visual differences, some lessons plans may need to be revised anyway.

[2017-07-14 18:11] pixelzoom commented on #51
@emily-phet the options are:

• Flip the initial dipole direction
• Change the initial molecule orientation
• Swap the positive and negative terminals
• Do nothing

[2017-07-14 18:18] pixelzoom commented on #52
Perhaps faint horizontal lines, with arrows pointing from positive to negative plate?

[2017-07-14 18:28] pixelzoom commented on #52
If we have a visual representation of the E-field, we could probably leave the plates labeled with + and -.  And that facilitate assist with predicting what's going to happen when the E-field is turned on.  Currently the plates aren't labeled when the E-field is off, so if you want to predict what's going to happen, then you have to remember which plate is which.

[2017-07-14 18:45] kathy-phet commented on #52
@pixelzoom - I think that leaving the +/- on the plates when the electric field is off could cause confusion.

Also, note that the dipole aligns anti-parallel to the e-field.

I'm wondering how much this is discussed in chemistry. It's definitely an interesting physics phenomena, but I'm not sure what they get into in physical chemistry around this alignment or not.

[2017-07-14 18:47] pixelzoom commented on #52
Could you elaborate?

Yep, understood.  But that's not at all obvious now.  Whether it's important is up to @emily-phet.

[2017-07-14 18:52] kathy-phet commented on #52
If it has a + attached to it. I can easily think it is positively charged if I haven't noticed the e-field on/off button or I don't know that e-field is related to the charging of the plate. Chemistry students may not know that -- so by labling when you turn on the field you help them associate that idea. That this plate now is positive.

[2017-07-14 21:09] pixelzoom commented on #51
For now I'm going to go with:

That will assist me in testing #50, where the cueing arrows should not go away until the user moves an atom.

[2017-07-14 21:49] pixelzoom commented on #50
Here's a dev version that implements the specification in https://github.com/phetsims/molecule-polarity/issues/50#issuecomment-315420828:
http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.20/molecule-polarity_en.html

Notes:
• Behavior is identical for mouse and touch.
• For the diatomic molecule, the initial dipole direction is temporarily flipped (pending decision in #51)

[2017-07-14 22:28] emily-phet commented on #51
@pixelzoom Agreed, I think changing the initial configuration of the sliders is the least invasive way ensure turning on the e field results in molecule motion.

[2017-07-14 22:39] emily-phet commented on #50
I like the behavior of the arrows. Just to confirm, the arrows still appear on hover in a non-touch environment, correct? (I think they should)

The one issue I see is that there are some differences between the hint arrows and the dipole arrow, but they're (at first glance) pretty similar. I think if the hint arrows were 'fatter' - something more on the scale of something designed to be touchable

[2017-07-14 22:47] emily-phet commented on #52
This seems like a pretty significant suggestion. I'm not sure it's worth the amount of iterations to add more e field cueing that it would take for everyone to feel comfortable with the outcome. Have we heard from teachers this is an issue? I think if it isn't broke, we shouldn't go down a rabbit hole to fix it.

I think the simplest thing to do (design-wise) is to just not show the plates until t

[2017-07-14 22:50] emily-phet commented on #39
Looks great!

[2017-07-14 22:50] #39 closed

[2017-07-15 18:02] pixelzoom commented on #50
@emily-phet asked:

Correct.

Will do.

[2017-07-15 18:03] pixelzoom commented on #52
@emily-phet said:

I'll give you a dev version that removes the plates, so people can evaluate.

[2017-07-15 22:06] pixelzoom commented on #51
Flipping the dipole was already implemented in the above commit (to facilitate testing of #50), so nothing else to do here. Closing.

[2017-07-15 22:08] pixelzoom commented on #35
Behavior of arrows was approved in https://github.com/phetsims/molecule-polarity/issues/50#issuecomment-315484194, so closing this issue.

[2017-07-15 22:08] #35 closed

[2017-07-15 22:37] pixelzoom commented on #52
Here's a dev version where the plates are shown only when the E-field is on:
http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.21/molecule-polarity_en.html

This feels pretty nice to me, and (in the absence of a visual representation of the E-field) removes any question about whether the field is on or off.

@emily-phet please review.

[2017-07-15 22:54] pixelzoom commented on #50
By "fatter", I assumed you meant that the tails of the arrows should be thicker.  So I experimented with increasing the thickness of the arrow tails.  (This also required increasing the width of the arrow heads, since the heads were originally 2x the width of the tails.)   Dipoles are "on" in all of these screenshots, so you can compare. (For my benefit,  I've also indicated the values used to cre

[2017-07-15 23:00] pixelzoom commented on #50
Here's a dev version with option (4):
http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.22/molecule-polarity_en.html

For the record, I still prefer the original arrows, especially the look of the "rotate" arrows, which look curvier with their original tail thickness.

[2017-07-15 23:03] pixelzoom opened #53 "Molecule Polarity master checklist"
## Version 1.0.0 with first 2 screens, see #27

## Design
- [x] **Sim folder and design doc created** (Date: 2013?)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- `N/A` **Sim suggestions doc reviewed**
- `N/A` **Learning goals and standards identified** (

[2017-07-15 23:13] pixelzoom opened #54 "screenshot"
@emily-phet please specify how you'd like the screenshot (thumbnail and webpage) for this sim to look.  The easiest way to do that is to put the lastest dev version of the sim in the desired configuration, take as screenshot, and attach it to this issue in a comment.

For reference, the screenshot for the Java version can be seen here: https://phet.colorado.edu/en/simulation/molecule-polarity.   T

[2017-07-15 23:21] pixelzoom commented on #30
@zepumph Some things that I neglected to mention, but which you may have already figured out...

We decided to publish this sim without the "Real Molecules" screen. The implementation of that screen is complete, with the exception of the 3D molecule viewer.  And I recommend reviewing the code for that screen.  To see that screen in it's partially-completed state, run with `?realMolecules`.

Finall

[2017-07-15 23:27] emily-phet commented on #52
@pixelzoom I think this looks great! I think it will be much more clear to students and teachers. Let's keep this change.

[2017-07-15 23:33] emily-phet commented on #50
@pixelzoom - thanks for trying out different arrow widths. I agree with you, the double width looked weird for the 'rotate' arrows, and not having all the arrows the same width also looked weird. Option 4 is definitely the best - the hint arrows are distinctly different from the pedagogically relevant arrows, which is the main goal I had. Let's go with option 4 (the one in the dev version you shar

[2017-07-15 23:45] emily-phet commented on #54
@pixelzoom Here ya go. It's just three atoms screen, no hint arrows, electric field turned on, all dipole representations turned on. If it looks odd for some reason as a thumbnail, removing the partial charge representations would be fine (they may be too small for thumbnail size).
![screen shot 2017-07-15 at 5 40 20 pm](https://user-images.githubusercontent.com/5109055/28243388-d256376e-6984-11e7

[2017-07-15 23:57] pixelzoom commented on #52
Excellent, closing.

[2017-07-15 23:57] #52 closed

[2017-07-15 23:58] pixelzoom commented on #50
Excellent, thanks. Nothing else to do here, so closing.

[2017-07-17 16:24] pixelzoom commented on #54
Here's approximately what the screenshot will look like in context.

Thumbnail (128x84)
![mp-small](https://user-images.githubusercontent.com/3046552/28278259-b8001258-6ad9-11e7-86c0-7c21bf9feb31.png)

Web page (300x166)
![mp-big](https://user-images.githubusercontent.com/3046552/28278332-f99ee860-6ad9-11e7-9203-9837e5c8f27a.png)

So yes, I think we should turn off partial charges.

[2017-07-17 17:50] phet-steele opened #55 "Partial charge symbol misplaced after a Reset"
The extent of this issue goes (I believe) beyond this procedure:

1. Open sim and enter the Two Atoms screen
2. Rotate the molecule
3. Press Reset All. Make sure the molecule is not at the default orientation first!
4. Enable "Partial Charges"

The position of the partial charge on "A" will be incorrectly placed until the molecule is moved or an electronegativity slider changed. This does not appe

[2017-07-17 17:57] pixelzoom commented on #55
Reproduced.

[2017-07-17 17:58] emily-phet commented on #54
@pixelzoom I'm not familiar with our typical practice for thumbnails. It would probably be ideal if the thumbnail did not include the control panel - so if there were a way to have the nav bar be complete (e.g., PhET logo/menu button still in the bottom right) but everything right of the rightmost plate removed from the play area, this would allow the molecules/plates/sliders to be more distinguis

[2017-07-17 17:59] pixelzoom commented on #55
@phet-steele I have not been able to reproduce this in the "Three Atoms" screen. Can you confirm that it appears to be specific to "Two Atoms"?

[2017-07-17 18:02] pixelzoom commented on #54
@emily-phet Thumbnails and sim-page images are automatically generated from the same screenshot, there is currently no way for them to be different.  Browser chrome (tabs, etc) are removed from the screenshot, but (by convention) all screenshots include the navigation bar and complete play area of the sim.

[2017-07-17 18:04] pixelzoom commented on #54
@emily-phet Also note that the examples are provided are "approximate".  I used the image that you provided to create those examples, and it has a lot of blank space to the right of the control panel that won't be there in the actual images.  I'm guessing that you took the screenshot on a desktop with your browser a bit wider, and the final screenshot will be taken on an iPad retina.

[2017-07-17 18:07] emily-phet commented on #54
@pixelzoom Thanks for the details. Good to know. Then yes, the same sim configuration as in the screenshots above, with no partial charges showing should be fine.

[2017-07-17 18:08] phet-steele commented on #55
I already confirmed as such, albeit with limited testing.

[2017-07-17 18:35] pixelzoom commented on #55
Ah, indeed you did confirm for "Three Atoms", I missed that in the description. Thanks for giving it a few more tried.

[2017-07-17 18:42] pixelzoom commented on #55
Doesn't matter whether "Partial Charges" is checked before Reset All, charges are misplaced whether it's on or off.

[2017-07-17 18:44] phet-steele opened #56 "Molecule flips when switching written dipole direction?"
Simply changing the written direction of bond dipoles shouldn't flip the orientation of a molecule in an electric field, right?

![molpol01](https://user-images.githubusercontent.com/5863899/28284232-7e502dea-6aed-11e7-9c11-2fd895efdebe.gif)

Seen on macOS 10.12.5 Chrome. For phetsims/QA#21.

URL: http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.23/molecule-polarity_en.htm

[2017-07-17 18:51] pixelzoom commented on #56
The sim supports 2 convention for direction of dipoles: positive-to-negative (the default) or negative-to-positive (IUPAC convention).  For positive-to-negative, the dipole is anti-parallel to the E-field.  But I suspect that it should be _parallel_ to the E-field for negative-to-positive, and that's not being handled.  So the direction that the dipoles are pointing should change, but the molecule

[2017-07-17 19:00] pixelzoom commented on #55
Partial charge of atom B always seems to be in the correct location.  It's just the partial charge for atom A that's off.

[2017-07-17 19:11] pixelzoom opened #57 "Molecule.dipoleProperty should be a DerivedProperty"
While investigating https://github.com/phetsims/molecule-polarity/issues/55, I noticed:

Molecule.dipoleProperty should be a DerivedProperty, computed based on bond dipoles. It's currently a Property.

[2017-07-17 19:29] pixelzoom commented on #57
This did not affect #55.  But done. Closing.

[2017-07-17 19:29] #57 closed

[2017-07-17 20:13] pixelzoom opened #58 "surface color doesn't match the color key when delta EN == 0"
Related to phetsims/QA#21, discussed via Skype.

@phet-steele noticed that when deltaEN == 0, the surface color doesn't match the midpoint of the Electron Density color key.

I determined that this is because the color key and molecule surface are using colors that have alpha=0.72.  But when deltaEN == 0, we're using an opaque color:

`NEUTRAL_GRAY: 'rgb( 128, 128, 128 )'`

Adding alpha to `NEUTRA

[2017-07-17 20:14] pixelzoom commented on #58
And if we do want transparency in these surfaces, it would be better to set the opacity of their associated Nodes, rather than including alpha in every color.

[2017-07-17 20:18] pixelzoom commented on #58
@phet-steele pointed out that alpha was added so that partial charges will be visible on black surface, see https://github.com/phetsims/molecule-polarity/issues/1.

[2017-07-17 20:28] pixelzoom commented on #58
According to @jonathanolson, gradient with colors that have alpha will have better performance. There's also the issue that we want a solid black stroke around the color keys.   So I'll leave this as is.

[2017-07-17 20:34] phet-steele commented on #58
As is with NEUTRAL_GRAY using SURFACE_ALPHA, right?

[2017-07-17 20:41] pixelzoom commented on #58
Yes.

[2017-07-17 20:41] pixelzoom commented on #58
@phet-steele please verify in master.

[2017-07-17 20:43] pixelzoom commented on #55
The problem was that the charge location was not being updated when the charge was invisible. Reset All apparent made the charge invisible, then moved the atom.  So the charge was then in the wrong (old) location.  Fixed in the above commit by repositioning the charge when it becomes visible.

@phet-steele please review in master.

[2017-07-17 21:34] phet-steele opened #59 "Cueing arrows need to reappear after Reset All"
This sim is inconsistent with the rest of PhET by not bringing the cueing arrows back after a Reset All.

For phetsims/QA/issues/21.

[2017-07-17 21:44] pixelzoom commented on #59
Examples?

[2017-07-17 21:44] phet-steele commented on #59
atomic-interactions
bending-light (sort of)
faradays-law
friction
make-a-ten
states-of-matter (sort of)
unit-rates
wave-on-a-string
area-model-multiplication
capacitor-lab-basics

[2017-07-17 21:46] phet-steele commented on #55
👍

[2017-07-17 21:46] #55 closed

[2017-07-17 21:47] phet-steele commented on #58
Aw yea the colors look so much better!

[2017-07-17 21:47] #58 closed

[2017-07-17 21:52] pixelzoom commented on #59
I can certainly make the cueing arrows come back on Reset All.  But:

(1) It seems unnecessary and potentially annoying.  The purpose of the arrows was to cue the student _once_ about what interacting with the atoms will do.  After they've interacted, then they don't need to see the arrows anymore.  Currently, Reset All doesn't affect the cueing arrows at all - if they haven't interacted with the

[2017-07-17 21:54] pixelzoom commented on #59
@kathy-phet you're also invited to weigh in, since you specified the current behavior.

[2017-07-17 21:57] pixelzoom commented on #59
For the record, the specification for the cueing arrows said nothing about restoring them on Reset All. It specified that they should be made visible "on startup", then disappear once the user has completed an associated interaction.  See https://github.com/phetsims/molecule-polarity/issues/50#issuecomment-315420828.

[2017-07-17 22:33] phet-steele commented on #59
FTR, this would be the ONLY sim that doesn't bring the cueing arrows back if we went that route.

[2017-07-17 22:39] pixelzoom commented on #59
@phet-steele Other than consistency with other sims, what is the advantage of bringing the cueing arrows back after the user has successfully performed the interaction that the arrows are intended to indicate?

[2017-07-17 23:10] pixelzoom commented on #56
This option (switching dipole convention) was not present in the Java version, so I have nothing to compare to.  The request for adding it in the HTML5 version was made by @emily-phet in https://github.com/phetsims/molecule-polarity/issues/5.

I'm guessing that rather than "flip the sign when computing the magnitude of the bond dipoles" (https://github.com/phetsims/molecule-polarity/issues/5#issue

[2017-07-17 23:25] emily-phet commented on #59
@pixelzoom Typically I'd be on board for "consistency", but in this case, the rotate arrow on the second screen is the consistency deal breaker for me. I would be annoyed if every time I reset I had to move the atoms *and* rotate the molecule to get the hints to go away.

I don't recall (though I could be wrong) having *two different* types of hint arrows showing at the same time...requiring two d

[2017-07-17 23:32] pixelzoom commented on #59
@emily-phet got it, will leave as is.

@phet-steele thanks for noticing and reporting the fact that this was inconsistent.

Closing.

[2017-07-17 23:35] pixelzoom commented on #50
Reopening.

After playing with this sim with the new cueing arrow behavior, I'm finding that they're a bit annoying and the sim definitely feels more cluttered - especially on the triatomic molecule, where you need to complete 2 different interactions to get rid of the arrows.

So I'm wondering:

(1) Has @arouinfar repeated the interviews mentioned in https://github.com/phetsims/molecule-polarity/

[2017-07-18 15:39] pixelzoom commented on #56
After going down the wrong path, I backtracked and discovered a simple solution.  Yes, I still need to flip the polarity of bond dipoles.  But I had neglected to compensate for that when computing the E-field alignment.  So now that it handled properly.

@phet-steele @emily-phet please verify in this dev version:

 http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.24/molecu

[2017-07-18 15:56] phet-steele commented on #56
The above dev link behaves as I would expect.

[2017-07-18 20:28] arouinfar commented on #50
@pixelzoom I had some interviews scheduled for Projectile Motion, and at @kathy-phet's request I did one Molecule Polarity interview on iPad. The student did not have any trouble using the sim (with the exception of not moving/rotating the atoms), and made a lot of nice observations/connections.

I do not have any more interviews scheduled for now, though I may do another round in the future. If t

[2017-07-18 21:56] zepumph opened #60 "Should a 'ControlPanel.js' Type be factored out?"
from code review #30
I see a lot of duplicated code in all three of the control panels. Perhaps there is a way to save code by factoring that out into its own file. jsinspect noticed multiple sections in all three control panels that were basically the exact same.

[2017-07-18 22:10] zepumph opened #61 "ElectronDensityNode and ElectrostaticPotentialNode are basically the same file"
from code review #30

When comparing the two files in intellij, it looks more like a commit diff than different files, there are about 10 or so changes. It seems like this could probably be combined into a "2DSurfaceNode" or something that both of these nodes can use with options. @pixelzoom please comment if you think this refactoring is not worth the effort.

To me it was a bit confusing to see

[2017-07-18 22:14] pixelzoom commented on #50
@arouinfar So even with the new "cueing arrows" visible, the student did not move/rotate the atoms?

[2017-07-18 22:19] arouinfar commented on #50
@pixelzoom I have not interviewed with the updated cueing arrows. I did one iPad interview with the original cueing arrows that appeared on hover only, and the student did not rotate/move the atoms,  which is why @kathy-phet requested the cueing arrows on start up in https://github.com/phetsims/molecule-polarity/issues/50#issuecomment-315420828.

[2017-07-18 22:20] pixelzoom commented on #50
Thanks for clarifying.  So the answer to:

... is "no".

[2017-07-18 22:24] zepumph opened #62 "BondCharacterNode --> BondCharacterDisplayNode?"
From Code Review #30
This may be a bit clearer that you don't interact with this node, it just displays the 'character' of the molecule.

[2017-07-18 22:26] pixelzoom commented on #60
Factoring out ControlPanel.js feels a bit "forced" to me.  There are significant differences between all 3 control panels, especially the set of "View" check boxes.  What they share is parts of the control panel, specifically the "Surface" and "Electric Field" controls.  I'll look at factoring out SurfaceControl.js and ElectricFieldControl.js, then use those in the existing control panels.

[2017-07-18 22:28] pixelzoom commented on #62
There's no precedent for having a different naming convention for things that are "display only".  And I don't think it's particularly useful in this case. So I'm not going to change this.

[2017-07-18 22:28] #62 closed

[2017-07-18 22:30] zepumph commented on #60
I definitely understand about the "forced" feeling. Your plan sounds like a good one. If we find that it isn't helpful than I think it is fine how it is.

[2017-07-18 22:36] arouinfar commented on #50
Again, if @emily-phet and @kathy-phet would like more interview data, I can schedule more. However, I would really prefer to wait a little bit so I can coordinate with the second round of Projectile Motion, as our pool of students is pretty small this summer.

[2017-07-18 23:14] zepumph opened #63 "Convert Properties that are booleans to BooleanProperties?"
from code review #30
I'm sure I see the added value of this, but maybe you do. I know it helps when it comes to PhET-iO instrumentation, but only a bit, and that is far down the road. Your call.

[2017-07-18 23:21] zepumph commented on #30
I just finished going through the first screen completely. As expected, things are going smoothly. There isn't much to change, more for me to ask about and learn from. Thanks for bearing with me @pixelzoom. @ariel-phet I'm not sure if I will be done by the end of the week, but that is the goal, and I'll keep you posted as we get closer.

[2017-07-18 23:29] ariel-phet commented on #30
@zepumph that was a target, but it is OK if it takes longer. And yes, a big point of this code review was we figured the sim was likely in pretty good shape and it would mostly be a learning experience for you and a chance to ask questions/dig deeper.

[2017-07-19 00:25] pixelzoom commented on #60
Major changes to control panels, see above commits.

Summary of new types:

MPControlPanel - base type, responsible for inserting horizontal separators
SurfaceControl - title and radio buttons for selecting the surface
EFieldControl - title and on/off button for e-field
TwoAtomsViewControls - 'View' title and check boxes for Two Atoms
ThreeAtomsViewControls - 'View' title and check boxes for Three

[2017-07-19 00:27] pixelzoom commented on #60
Btw... I compared to [1.0.0-dev.24](http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.24/molecule-polarity_en.html?realMolecules) (looks identical) and tested with
`?ea&realMolecules&stringTest=long`.

[2017-07-19 00:34] pixelzoom commented on #63
FYI... When this sim was written (2014) there was no BooleanProperty, or any other type-specific Properties.

[2017-07-19 00:37] pixelzoom commented on #63
Done, @zepumph please review.

[2017-07-19 00:40] pixelzoom commented on #61
Yeah, looks like there should be a SurfaceNode based type.

[2017-07-19 01:07] pixelzoom commented on #61
I factored out `SurfaceNode`, an abstract base type, in the above commit.  The subtypes (`ElectronDensityNode` and `ElectrostaticPotentialNode`) implement the `updateFill` method, which is the bit that differs for these 2 surface types.

@zepumph please review.

[2017-07-19 01:13] pixelzoom commented on #50
@arouinfar said:

In https://github.com/phetsims/molecule-polarity/issues/30#issuecomment-313270008, @ariel-phet said:

I don't know if there's any real deadline for this sim. But I do think that it's important that this particular feature be vetted by interviews before the sim start RC testing.

@emily-phet please weigh in on this and https://github.com/phetsims/molecule-polarity/issues/50#issuec

[2017-07-19 01:14] zepumph commented on #60
This looks really nice. Thanks, closing

[2017-07-19 01:14] #60 closed

[2017-07-19 01:16] pixelzoom commented on #30
@zepumph said:

Au contraire, you've suggested some good changes.  This sim was feature complete in March 2014, and there's been much progress since then, so there was definitely room for improvement here and there.

[2017-07-19 01:18] pixelzoom commented on #63
Btw... BooleanProperty is used for all of the check boxes, and the E-field on/off switch.

[2017-07-19 01:23] zepumph commented on #61
Looks great. Closing

[2017-07-19 01:23] #61 closed

[2017-07-19 01:24] zepumph commented on #63
Ahhh makes sense, thanks for informing. All looks good here. Closing

[2017-07-19 01:24] #63 closed

[2017-07-19 01:26] zepumph commented on #63
Is this directed at me as a "when you are developing this is what phet does" or more of a "this is how it is implemented in this sim"?

[2017-07-19 02:27] pixelzoom commented on #63
Just an FYI about where the BooleanProperties are used, in case you wanted to check to see if I missed any.

[2017-07-19 03:13] emily-phet commented on #50
@pixelzoom - I believe this will require some effort, but I think we should have all hint arrows disappear with any direct user movement of any atom, and then reappear on reset.

This does make the interaction more consistent with other sim hint arrows.

It also addresses the issue where the current behavior essentially requires users to rotate the molecule in the second screen, when we know that'

[2017-07-19 04:56] pixelzoom commented on #50
@emily-phet I made it easy to change the behavior of the arrows. So making all arrows disappear with any user direct movement of the atom will take me < 15 minutes.  I will make it so :)

[2017-07-19 05:05] pixelzoom commented on #50
Done.

@emily-phet please verify in this dev version:
http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.25/molecule-polarity_en.html

[2017-07-19 14:51] pixelzoom commented on #56
@emily-phet this is in your court. If it looks OK, please close.

[2017-07-19 16:55] zepumph commented on #14
The TODO I removed in the above commit was tied to this issue. I feel like it's a non issue, because we are not going to use the JSMolViewerNode. Leaving open so that @pixelzoom is aware of my understanding. Feel free to close.

[2017-07-19 17:00] zepumph opened #64 "Move PointySliderThumb to common code?"
From code review #30

I see this todo: `//TODO generalize and move to common code, depending on resolution to #39`

Promoting to issue here. #39 is closed, and the TODO does not make it clear what the next step is. @pixelzoom what should be done?

[2017-07-19 17:01] pixelzoom commented on #14
While it's unlikely that we'll use JSmol, it's not entirely impossible.  It's been 3+ years since the first 2 screens were feature complete, and not inconceivable that it could be another 3+ years before we implement the 3D viewer.   A lot could change in that time, which is why I kept JSmolViewerNode.js.  So I'd like to keep the TODO that you removed in JSmolViewerNode.js.  There's no harm in lea

[2017-07-19 17:02] zepumph commented on #30
I see 9 TODOs in the code. They are all related to #15 and #32, to me this seems fine to keep until the 3d viewer is implemented. I just wanted to note why we are keeping these.

[2017-07-19 17:04] zepumph commented on #14
Done.

[2017-07-19 17:27] pixelzoom commented on #64
Tracking the issue of whether PointyThumb is generally useful in https://github.com/phetsims/sun/issues/306.

[2017-07-19 17:27] #64 closed

[2017-07-19 17:29] zepumph commented on #64
Thanks!

[2017-07-19 17:42] pixelzoom commented on #30
@zepumph said:

Thanks for the summary. I changed a couple of these to point to #32 rather than #15, since they deal with completing the Real Molecules screen vs implementing the 3D viewer.

[2017-07-19 17:49] pixelzoom opened #65 "RealMoleculesScreenView is doing unnecessary work"
We're releasing Molecule Polarity 1.0.0 without an implementation of the Real Molecules screen, see #27.  But in the meantime, it is still doing a lot of unnecessary work, which will impact startup time.

RealMoleculesScreenView constructor currently looks like this:

[code]

Better would be:

[code]

[2017-07-19 17:55] pixelzoom commented on #65
Creating the model (RealMoleculesModel) is lightweight, so it's OK to do that and not use it.  The significant cost is in creating the view.

[2017-07-19 17:56] pixelzoom commented on #65
Done, tested with and without `?ea&realMolecules`.

[2017-07-19 17:56] #65 closed

[2017-07-19 17:57] pixelzoom commented on #65
@zepumph FYI, since you're in the process of code review.

[2017-07-19 18:33] zepumph opened #66 "Why is plateXOffset hardcoded?"
from code review #30
I'm trying to figure out the best practices for layout. I thought that whenever possible it is good to use percentages vs hard coded numbers. In both atoms screen views I see `plateXOffset` for the distance between the molecule and the e-field plates on either side. Would it be better for this to be based on the screen layoutBounds' width? Can you speak to best practices here?

[2017-07-19 19:41] pixelzoom commented on #66
You can't avoid all hard-coded numbers. Things like spacing, margin, font size, etc. are often appropriate to choose "empirically" (by visual inspection), based on aesthetics.  In my more recent code, I typically document these types of constants with something like "determined empirically".  And one should avoid duplicating such hard-coded values if they appear in more than one place; define `var

[2017-07-19 19:44] zepumph opened #67 "surfaceTypeText.text should be a display name, not camelCase?"
from code review #30
In the RealMoleculesViewer, I am unsure about how to review, it is possible that much of this will change. No matter I'm pretty sure we don't want the surfaceType variable value to be the display name on the viewer.
[code]

[2017-07-19 19:50] zepumph commented on #66
Thank you! Very comprehensive and just what I was looking for.

To sum up, much of the layout strategies you employ are based on the maintainability of the code.

In general, would having hard coded numbers like this  cause problems if this sim was used in different sized iframes (perhaps with different aspect ratios)? Do we even try to support that?

[2017-07-19 19:59] zepumph commented on #67
I'm sorry! I now see that this display is part of the 'debugText' node. Closing!

[2017-07-19 19:59] #67 closed

[2017-07-19 20:02] pixelzoom commented on #66
We do all layout based on ScreenView.layoutBounds, which corresponds to iPad screen dimensions.

ScreenView.js:

[code]

[2017-07-19 20:04] pixelzoom commented on #66
Some sims do attempt to maximize use of space outside ScreenView.layoutBounds.  For example, projectile-motion floats its control panel as far right as possible, to maximize the space available for shooting projectiles.

[2017-07-19 20:15] zepumph commented on #66
In MPConstants I see that this default is being overridden, is this what you want for MP?

`    SCREEN_VIEW_OPTIONS: { layoutBounds: new Bounds2( 0, 0, 1100, 700 ) },`

It looks pretty minor, but it has been around since 2/3/14, probably before the default was set in stone?

[2017-07-19 20:23] phet-steele commented on #59
@emily-phet @pixelzoom I believe this goes beyond a simple discussion about consistency. When we talk about a "Reset All" button, there is a particular weight that the button carries on its shoulders, if you will.

Generally, the convention has been that a Reset All button returns the sim to its “startup state.” The button quite literally resets EVERYTHING. If the goal is to “start over” without r

[2017-07-19 20:28] pixelzoom commented on #66
It's common to override the layoutBounds when porting a Java sim.  Java sims had a similar concept, and using the same dimensions as the Java sim means that all of the layout, font sizes, etc. will look the same when ported to Javascript.

[2017-07-19 20:29] pixelzoom commented on #59
@emily-phet your call.

[2017-07-19 20:30] zepumph commented on #66
Sounds good, closing

[2017-07-19 20:30] #66 closed

[2017-07-19 20:30] ariel-phet commented on #59
@emily-phet agreed with @phet-steele - Reset All should always be assumed to completely reset the sim.

[2017-07-19 20:34] pixelzoom commented on #59
Sounds like @ariel-phet has made the call.  I will proceed with reseting the arrows.

[2017-07-19 20:38] zepumph commented on #30
The `UnderDevelopmentPlane.js` is a bit messy. I don't think it is a big deal because it is "temporary" (what ever that means by phet sim development standards). It could use some variable names and less nesting. @pixelzoom it's your call if you think that is worth your time for such a temporary and simple Node.

[2017-07-19 20:47] zepumph opened #68 "Is overlapping a problem with Molecule "add-ons"?"
from code review #30
Do we want to support a bit nicer display when pieces of the molecules intersect on the triatomic screen?

The problem is illustrated below.

![image](https://user-images.githubusercontent.com/6856943/28388741-29041c7c-6c80-11e7-87ac-9e44921503fe.png)

[2017-07-19 20:49] pixelzoom opened #69 "clean up UnderDevelopmentPlane ?"
In https://github.com/phetsims/molecule-polarity/issues/30#issuecomment-316509825, @zepumph said:

What do you find messy about it?  There's more "nesting" of instantiation than I typically use, but certainly not any more than some developers.   The only duplication that I see is `PhetFont(16)`, and that's just coincidental - the text and link could (and did) have different font sizes.

[2017-07-19 20:55] zepumph commented on #69
My thoughts were about

[code]

I too don't think it is so bad, I mentioned it because it was atypical more than it being really problematic.

[2017-07-19 21:26] pixelzoom commented on #69
What don't you like about it? The nested structure?

[2017-07-19 21:27] ariel-phet commented on #69
Specificity @zepumph ....Specificity :)

[2017-07-19 21:44] emily-phet commented on #59
Sounds good. Note: I concluded this yesterday [here](https://github.com/phetsims/molecule-polarity/issues/50#issuecomment-316260644). Ultimately, the issue was a poor design choice that needed to be revised - we were requiring too much of the user to make all the hints go away in the prior iteration - so requiring that the user do these actions after each reset was too much (hence the desire to st

[2017-07-19 21:44] zepumph commented on #69
Sorry folks. Yes indeed the nested structure was what I was looking at. After discussing it through, I think it is best as is. I mentioned it because I was not used to so much node creation without variable names. To me it looked sloppy. I feel good to close now without action.

[2017-07-19 21:45] emily-phet commented on #50
@pixelzoom looks good, except doesn't show the hint arrows again after reset all. But i'm guessing you're taking care of -and tracking - that in another github issue.

[2017-07-19 21:47] pixelzoom commented on #59
Implemented in [1.0.0-dev.26](http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.26/molecule-polarity_en.html).  @phet-steele @emily-phet please review.

The implementation of the cueing arrows now accounts for 1/3 of the implementation of the molecule views.  I hope these arrow turn out to be effective.

[2017-07-19 21:51] emily-phet commented on #56
@pixelzoom Yes, it's just the arrow representation that needs to change...nothing to do with the actual physics of the simulation. This looks good to me.

[2017-07-19 21:51] #56 closed

[2017-07-19 21:52] pixelzoom commented on #69
I agree, nesting like this is not desirable - difficult to read and maintain.  But plan to see it in other PhET code, because it's a style preferred by some of the other PhET developers.

[2017-07-19 21:53] #69 closed

[2017-07-19 21:54] pixelzoom commented on #50
@emily-phet Yes, resetting the arrows is being handled in #59.

Closing this issue.

[2017-07-19 21:56] emily-phet commented on #59
@pixelzoom Looks great to me.

[2017-07-19 21:57] zepumph commented on #33
from #30

[2017-07-19 21:57] #33 closed

[2017-07-19 22:01] pixelzoom commented on #33
Yes, new issue for new leak please.

[2017-07-19 22:05] zepumph opened #70 "Initial memory almost twice what it was before the code review"
I would love confirmation, but I am seeing starting heap size now around 45-50MB, where as in #33 I saw that it was more like 25-30MB. Where did this come from? Is it acceptable?

[2017-07-19 22:06] phet-steele commented on #70
@zepumph http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.26/molecule-polarity_en.html started at 26 MB for me. Try a fresh browser tab?

[2017-07-19 22:08] zepumph commented on #70
Well that's good to know. I am still having trouble though:

![image](https://user-images.githubusercontent.com/6856943/28391760-acd166f8-6c8b-11e7-9375-19faf531432d.png)

[2017-07-19 22:09] phet-steele commented on #70
Go incognito?

[2017-07-19 22:11] phet-steele commented on #59
@pixelzoom they are behaving nicely on macOS Chrome and iPad Air 2 10.3.2. Thank you! Back to you if there is anything left to do.

[2017-07-19 22:15] pixelzoom commented on #68
Long long ago, we decided not to flip which side of the bond the dipole appears on, because having the dipole switching sides while dragging was distracting.  So we decided to live with "overlap" situations like the one shown above.  @emily-phet are you OK with that original decision, or do you want to revisit?

If we want to revisit...  The decision not to "switch sides" informed the Java impleme

[2017-07-19 22:18] pixelzoom commented on #59
Stick a fork in me, I'm done.

[2017-07-19 22:18] #59 closed

[2017-07-19 22:19] pixelzoom commented on #70
Whew.

[2017-07-19 22:19] zepumph opened #71 "Memory Leak?"
from code review #30

I fuzzMoused  three separate times for over an hour each time the memory increased over 10MB. I don't know if that is large enough to warrant the title of "leak" but it wasn't tapering off, so I thought it warranted an issue to discuss.

The following showing a fuzzRate of 3000 for an hour (it starts at 50MB because I had a caching problem resolved in  #70 ):

![image](https:

[2017-07-19 22:20] pixelzoom commented on #71
Heap comparison?

[2017-07-19 22:22] zepumph commented on #71
Still quite unsure about how to read them. I didn't find anything obvious that was mentioned during @jessegreenberg and my recent briefing by @jonathanolson. Would you mind calling to share screens for it. I think there is still a lot to learn about what to look for.

[2017-07-19 22:23] pixelzoom commented on #68
In case there's any question... Here's the same scenario, with the same overlap, in the Java version:

![screenshot_327](https://user-images.githubusercontent.com/3046552/28392290-849befec-6c9e-11e7-9622-e9f79ef7d8ff.png)

[2017-07-19 22:24] arouinfar commented on #50
Agreed that the cueing arrows should be vetted. Thanks for letting me know the timeline @pixelzoom. My best guess is that I'll be scheduling the next round of interviews for late next week.

I really like the behavior in dev.25, by the way. My gut feeling is that they will work as intended, but I'll report back once the interviews take place.

[2017-07-19 22:32] pixelzoom commented on #71
Unlikely before Monday.

[2017-07-19 22:32] zepumph commented on #71
Ok I'll see what I can do.

[2017-07-19 22:35] zepumph opened #72 "Dispose or document Bond.dipoleProperty"
from code review #30
This DerivedProperty is never disposed, but it is also not documented that/why dispose is not needed like all other places in the repo.

[2017-07-19 22:37] pixelzoom opened #73 "interviews for cueing arrows"
We made significant changes to the visual cues for moving atoms. See #50 and #59.  These should be vetted in interviews.

In https://github.com/phetsims/molecule-polarity/issues/50#issuecomment-316243514, I said:

In https://github.com/phetsims/molecule-polarity/issues/50#issuecomment-316536715 @arouinfar replied:

Assigning to @emily-phet and @arouinfar to coordinate.  Unless I hear otherwise, RC

[2017-07-19 22:37] pixelzoom commented on #50
Tracking interviews in https://github.com/phetsims/molecule-polarity/issues/73.

[2017-07-19 22:44] pixelzoom commented on #72
From implementation-notes.md:

But I added a comment:

[code]

[2017-07-19 22:49] zepumph commented on #72
Ok right, just making sure. Thanks for the comment.

[2017-07-19 22:49] #72 closed

[2017-07-20 00:09] zepumph commented on #71
With a fuzzRate of 5000, I let it go for 2 hours, and here are the heap sizes.
![image](https://user-images.githubusercontent.com/6856943/28394764-d4ff9702-6c9b-11e7-9d59-f1147a8427fc.png)

It seems like it really tapered off at about 11MB. It took a long time to taper off, I'm not sure what that means. In the heap comparisons nothing really stood out to me. most deltas were in the Array and Objec

[2017-07-20 16:37] emily-phet commented on #68
@pixelzoom We should leave this as-is, allowing bond dipoles to overlap.

[2017-07-20 16:37] #68 closed

[2017-07-20 16:42] emily-phet commented on #73
@pixelzoom I don't think formal interviews are needed.

@arouinfar if you could take a tablet with the sim downstairs in the physics building and ask a couple of students to play with it for a minute, that should suffice. If they move the atoms directly in any way, thank them and move on. If after 60-90seconds they don't directly move an atom...take note and move on.

[2017-07-20 19:11] arouinfar commented on #73
Following @emily-phet's suggestion, I took an iPad down to the physics labs, and was able to get one student to stop for a few minutes. On the Two Molecules Screen, his first action was to adjust the electronegativity sliders, and then he rotated the atoms. On the Three Molecules screen, he almost immediately rotated the center molecule and dragged the outer molecules. It appears that the cueing a

[2017-07-20 19:33] arouinfar opened #74 "Items to Include in Teacher Tips"
I'm volunteering myself to write the Teacher Tips, but could use some input from @emily-phet if there are any model simplifications (that aren't already documented in the Java tips) that should be included.

From the Legacy Tips
- [x] In interviews, no students thought you can change the electronegativity of a **real** atom.
- [x] The outer atoms (A&C) do not repel one another (see Molecule Shapes

[2017-07-20 21:01] zepumph commented on #71
After continuing that same tab this morning for multiple hours, I see that it did level off. Closing this issue, there isn't a memory leak.

![image](https://user-images.githubusercontent.com/6856943/28438695-82b722ac-6d4b-11e7-93f7-03c16340cd3f.png)

[2017-07-20 21:01] #71 closed

[2017-07-20 21:02] zepumph commented on #30
Code review completed @pixelzoom, thanks for all the good work and help you gave me during the process. Back to you.

[2017-07-21 01:37] pixelzoom commented on #30
Thanks for the thorough review @zepumph.  All related issues are closed, so closing this issue.

[2017-07-21 01:37] #30 closed

[2017-07-21 01:41] zepumph commented on #30
Thank you!

[2017-07-21 01:48] pixelzoom commented on #73
@emily-phet @arouinfar up to you on when you feel that you have enough evidence that this is effective.

Dev testing is completed (https://github.com/phetsims/QA/issues/21) so we're ready to starting RC testing whenever this issue is closed.

[2017-07-21 16:21] arouinfar commented on #73
@pixelzoom @emily-phet I've decided to do one more informal interview. Physics lectures let out in half an hour, so I'll report back soon.

[2017-07-21 17:04] arouinfar commented on #73
Did two more informal interviews. First student focused more on the sliders and radio buttons, but rotated the atoms when asked, "can you find a way to move the atoms?". Second student immediately rotated the atoms.

Overall, 2/3 students moved/rotated the atoms very early in their interaction with the sim, so I'd say the cueing arrows are doing their job. You're clear to proceed with RC testing @

[2017-07-21 17:04] #73 closed

[2017-07-21 17:07] arouinfar commented on #73
I'll add that the student who needed to be prompted to rotate the atoms seemed like she was in a bit of a rush, and may have eventually moved/rotated the atoms if in a more formal interview setting. I'd call that interview inconclusive rather than a failure.

[2017-07-21 17:09] pixelzoom commented on #73
Thanks @arouinfar, I'm proceeding with RC testing.

[2017-07-21 17:34] pixelzoom commented on #28
Now in RC testing (https://github.com/phetsims/QA/issues/28), so assigning this issue to @phet-steele.

[2017-07-21 17:39] pixelzoom commented on #54
Here's what we arrived at for the screenshot.  To reproduce:

1. Start sim, [1.0.0-rc.1](http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-rc.1/molecule-polarity_en.html) would be fine.
2. Go to "Three Atoms" screen
3. Turn on E-field
4. Turn on Bond Dipoles
5. Move atom A slightly to make cueing arrows go away

![screenshot_328](https://user-images.githubusercontent.com/304655

[2017-07-21 17:47] pixelzoom commented on #54
@phet-steele please create this screenshot, as specified in the comment just before this one.  Please push to master and 1.0 branches, in molecule-polarity/assets/molecule-polarity-screenshot.png. You'll need to create molecule-polarity/assets/, since this sim has no other assets.

[2017-07-21 18:15] pixelzoom commented on #53
@emily-phet I realize that the HTML5 version of this sim started in 2014 (or possibly late 2013), and that you were assigned as design lead late in the process. But where possible, please complete the Design portion of this check list.

[2017-07-21 18:19] emily-phet commented on #53
@pixelzoom That will not be possible in a reasonable time frame. I'm in the midst of three consecutive weeks of data collection in Georgia, two grant proposals, two grant reports, and assorted other things.
@ariel-phet Please assign this to someone else.

[2017-07-21 18:21] pixelzoom commented on #53
Searching the "PhET File" folder on Google docs, I don't see an design doc for the HTML5 version. Perhaps one doesn't exist.  I do see "Molecule Polarity HTML5.ai", but it doesn't look useful, should probably be deleted.

[2017-07-21 18:26] pixelzoom commented on #53
@ariel-phet Perhaps we can skip many of the Design items? I've replaced check boxes with `N/A` for items that I don't think we can (or should) complete.  If you disagree with any of these `N/A` choices, feel free to convert them back to check boxes.

[2017-07-24 16:22] emily-phet commented on #74
@arouinfar I'm not aware of any other model changes.
@pixelzoom Please weigh in here if there were any model changes worth mentioning to teachers.

[2017-07-24 16:35] arouinfar commented on #74
Thanks @emily-phet!

[2017-07-24 20:56] arouinfar commented on #74
The Teacher Tips have been completed, so unassigning myself for now. @pixelzoom if you can think of any additional model simplifications that should be documented in the Tips, please let me know. Otherwise, feel free to close this issue.

[2017-07-25 17:07] phet-steele commented on #54
Screenshot added.

[2017-07-25 17:07] #54 closed

[2017-07-25 17:11] phet-steele commented on #28
@pixelzoom, please add:

`Steele Dalton, Alex Dornan, Ethan Johnson`

[2017-07-26 15:19] pixelzoom commented on #74
@arouinfar Where are the completed Teacher Tips, so I have context for my feedback?

[2017-07-26 15:46] arouinfar commented on #74
@pixelzoom I was asking you to review the model simplifications/things to note listed in https://github.com/phetsims/molecule-polarity/issues/74#issue-244473068, but you're more than welcome to review the Tips document instead: [molecule-polarity-html5-guide.pdf](https://github.com/phetsims/molecule-polarity/files/1177189/molecule-polarity-html5-guide.pdf)

[2017-07-26 16:41] pixelzoom commented on #28
QA credits have been added to master and 1.0 branches.  Final credits shown below. Closing.

![screenshot_332](https://user-images.githubusercontent.com/3046552/28632579-4721a166-71ee-11e7-836d-81d9185b236b.png)

[2017-07-26 16:41] #28 closed

[2017-07-26 17:14] pixelzoom commented on #53
Sim is published, all development-related tasks are completed.

[2017-07-26 17:22] pixelzoom commented on #74
Typo in "Model Simplications" section of molecule-polarity-html5-guide.pdf.

use Java version of the sim.

.. should be "the Java version".

[2017-07-26 17:26] pixelzoom commented on #74
A simplification noted in [model.md](https://github.com/phetsims/molecule-polarity/blob/master/doc/model.md) that's not in molecule-polarity-html5-guide.pdf:

to delta EN. Note that this is a simplification; in reality, dipole is not influenced
solely by EN.

You might want to read through model.md to see if there's anything else that you want to mention.

[2017-07-26 17:28] arouinfar commented on #74
Thanks @pixelzoom! I'll correct the typo, add the simplification noted in https://github.com/phetsims/molecule-polarity/issues/74#issuecomment-318124472, and review model.md to see if there's anything else I've missed.

[2017-07-26 18:21] arouinfar commented on #74
I expanded the Model Simplifications section quite a bit based on [model.md](https://github.com/phetsims/molecule-polarity/blob/master/doc/model.md) and have uploaded the tips. Thanks again @pixelzoom!

[2017-07-26 18:21] #74 closed

[2017-08-03 16:41] ariel-phet commented on #53
Closing

[2017-08-03 16:41] #53 closed

[2017-08-03 16:43] ariel-phet opened #75 "Create Sim Primer"
A sim primer should be made at some point for this sim, but quite low priority.

[2017-08-03 16:51] ariel-phet opened #76 "Minor Fleshing out of design document"
@arouinfar I made a "stub" for a design document for this sim. Could you put in a few comments/screenshots about the cueing arrows while fresh in our minds? I don't think it needs to be much, and we can more fully flesh out this doc one day when we put in a 3rd screen.

Maybe also a quick mention of the following:
- sliders moved to the bottom of the screen to be touch friendly
- E-field plates on

[2017-08-03 16:56] ariel-phet opened #77 "Radio buttons a bit large"
I missed this when we were publishing, no need to fix any time soon. Noting for next time we work on this sim.

The radio buttons are currently a bit larger than standard (we have moved to a standard where the radio button diameter is basically the same size as the first letter of the label)

![molpol](https://user-images.githubusercontent.com/4051174/28933456-5c3682a4-783a-11e7-8120-5c306e1a3188.

[2017-08-03 20:10] arouinfar commented on #76
@ariel-phet done. Inspiration struck, so I quickly filled in most sections of the doc. There's probably more than can be fleshed out at a later date, but it should be good enough for now.

[2017-08-03 20:10] #76 closed

[2017-08-09 19:18] pixelzoom commented on #77
Can't say that I agree with this standard.  And it certainly won'y hold up when long text gets scaled for i18n.  But I'll handle it.

[2017-08-09 19:20] pixelzoom commented on #77
Question: Does this "standard" also apply to check boxes?  See control panel from Molecule Polarity below.

![screenshot_334](https://user-images.githubusercontent.com/3046552/29139792-5dd7def8-7d05-11e7-97f1-ea7cd0c6155e.png)

[2017-08-09 19:24] pixelzoom commented on #77
Here's what it looks like if I apply the "standard" (AquaRadioButton `radius:8`):

![screenshot_335](https://user-images.githubusercontent.com/3046552/29139928-e1ca6ca8-7d05-11e7-8969-568d24a6f809.png)

This looks unbalanced to me.  The radio buttons are noticeably smaller than the check boxes.

This looks better, but doesn't technically meet the standard (AquaRadioButton `radius:10`):

![screensh

[2017-08-09 19:27] pixelzoom commented on #77
My recommendation is to leave the check boxes alone, and go with `radius:10` for the radio buttons. Making all of these controls smaller would have no benefits, only a negative effect on usability.

[2017-08-10 00:47] ariel-phet commented on #77
@pixelzoom perhaps I should say when I said standard I meant "this is what we have generally been doing - approximately" - it is not particularly rigid. Design guideline would probably be a better phrasing.

leave the check boxes alone, and go with `radius:10` for the radio buttons seems fine to me.

It would be fine to change this in master and just wait until the next release (even if that is a

[2017-08-10 19:48] pixelzoom commented on #77
Note to self: radio buttons are in SurfaceTypeControl

[2017-08-10 19:52] pixelzoom commented on #77
Changed to `radius:10` in master and 1.0 branches.  This change will be published the next time there is a production deploy.

[2017-08-10 19:53] pixelzoom commented on #77
No need for a test cycle, since this involved changing `radius:12` to `radius:10` in 1 place, and was tested in master and 1.0.  Closing.

[2017-08-10 19:56] pixelzoom commented on #77
Reopening. I'm going to publish a maintenance release so that HEAD of 1.0 branch doesn't contain unpublished changes.  My understanding is that would complicate batch maintenance releases.

[2017-08-10 20:02] pixelzoom commented on #77
Published in 1.0.1, see https://phet.colorado.edu/en/simulation/molecule-polarity.

Closing.

[2017-08-10 20:02] #77 closed

[2017-08-17 19:39] pixelzoom commented on #51
Reopening.  @kathy-phet discussed with @emily-phet, and they would like the original defaults restored, so that the default is "in phase" with the surface color key.  E.g. see screenshot below:

![screenshot_359](https://user-images.githubusercontent.com/3046552/29430311-2dcf9a64-8351-11e7-8fa6-b2d56e33cb0b.png)

Turning on the e-field in the default configuration will not result in any change to

[2017-08-17 19:41] pixelzoom commented on #50
Reopening. @kathy-phet says that she intended to have the initial visibility of the cueing arrows be a _replacement_ for showing them on mouse over.   @emily-phet concurs.  So I will remove the mouse over behavior, and publish in maintenance release 1.0.2.

[2017-08-17 20:10] pixelzoom commented on #50
This change is live in 1.0.2 on the PhET website:
http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.2/molecule-polarity_en.html

@kathy-phet please verify.  If it looks OK, please close this issue.

[2017-08-17 20:11] pixelzoom commented on #51
This change is live in 1.0.2 on the PhET website:
http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.2/molecule-polarity_en.html

@kathy-phet please verify.  If it looks OK, please close this issue.

[2017-08-18 23:04] kathy-phet commented on #51
verified! Thanks!

[2017-08-18 23:04] #51 closed

[2017-08-18 23:05] kathy-phet commented on #50
verified! thanks!

[2017-08-18 23:05] #50 closed

[2017-08-24 18:31] oliver-phet opened #78 "Google form user suggestion: Direction dipole points"

[2017-08-24 18:56] pixelzoom commented on #78
@oliver-phet Does this need to be assigned to someone to reply?

[2017-08-24 19:05] oliver-phet commented on #78
Assigning to @ariel-phet to decide if this is worth pursuing, delegate, and prioritize.

[2017-08-24 19:10] pixelzoom commented on #78
I asked about this issue because it is a criticism, not a feature request.  And PhET typically has a subject matter expert (often the lead designer) respond to this type of feedback in a timely manner.

[2017-08-28 17:10] ariel-phet commented on #78
@oliver-phet @pixelzoom I don't think anything about the sim needs to be changed, but the user should be replied to... I will see if I can get a response (maybe Robert will have something to say).

[2017-08-28 17:14] ariel-phet commented on #78
Email sent to Robert Parson and Emily Borda with @oliver-phet cc'ed. Hopefully they will have a response to the user issue.

[2017-08-30 00:10] ariel-phet commented on #78
Robert wrote:

[2017-09-01 19:36] zepumph opened #79 "state not saved correctly"
Copied from https://github.com/phetsims/phet-io/issues/851 to this repo

@samreid said
From #319:

1. Some photons are "leaking" and not getting removed from state
2. Clicking "Launch" yields a "duplicate item" issue
3. Molecule state is not saved.

And we reproduced this problem and January 11th, 2017

[2017-09-01 19:41] pixelzoom commented on #79
@zepumph I don't see any commits that indicate this was fixed in phetsims/phet-io#851. Is this still a problem? Did you close this issue by mistake?

[2017-09-01 19:42] pixelzoom commented on #79
Ah... Looks like you created this issue in the wrong repo, should have been in molecules-and-light.  Closing.

[2017-09-01 19:42] #79 closed

[2017-09-01 20:30] zepumph commented on #79
Sorry about that. no communication on that one, see https://github.com/phetsims/molecules-and-light/issues/154 for the proper living space for this issue.

[2017-09-17 18:32] ariel-phet commented on #78
Robert's expanded explanation:

[2017-09-18 16:42] oliver-phet commented on #78
Email to user sent with Robert's explanation. Closing for now.

[2017-09-18 16:42] #78 closed

[2017-09-18 20:50] oliver-phet commented on #78
Reply from user:

I love phet demos.  Keep up the good work.

[2018-05-22 22:47] arouinfar commented on #75
- [ ] Draft script
- [ ] Record rough version for script verification
- [ ] Review script verification draft, and adjust script as necessary
- [ ] Record another draft
- [ ] Review 2nd draft
- [ ] Produce primer and upload
- [ ] Caption primer

[2018-06-04 22:25] arouinfar commented on #75
Primer has been uploaded to the PhET website. Closing.

[2018-06-04 22:25] #75 closed

[2018-11-02 05:42] pixelzoom opened #80 "use BooleanProperty, NumberProperty, StringProperty"
Related to phetsims/axon#196.

[2019-04-16 19:18] KatieWoe opened #81 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56237733-f1602580-6049-11e9-91a9-ba81d4cb

[2019-04-16 19:18] #81 closed

[2019-05-20 21:07] oliver-phet commented on #32
From phethelp:

[2019-06-27 20:09] skk74 commented on #6
Hi I am trying to load two different cif files in the same HTML5 webpage hosted on a local server. It seems you have confirmed that two Jsmol applets can be embedded in the same page. I seem to have only one of them being functional. Do you mind taking a quick look at this code block to tell me what may be wrong?
'''
    <head>
        <script type="text/javascript" src="jsmol/JSmol.min.js"></scri

[2019-06-27 23:34] pixelzoom commented on #6
Hi @skk74.   I took a quick look at your sample, but don't immediately see anything wrong. I'm sorry, but it's been almost 5 years since I investigated this issue, so I have little recollection of the specifics of JSmol. And I have too much work on my plate to dive back in right now.   Since this is a general JSmol question (not really related to PhET sims) I recommend that you ask the JSmol proje

[2019-10-26 02:21] pixelzoom commented on #22
@kathy-phet @ariel-phet @jonathanolson

At 10/25/19 status meeting, I was asked whether we have the model information needed for an isosurface.  The answer is yes.  Each molecule has a mol2 description (a common chemistry file format) of its structure and properties.  See [mol2Data.js](https://github.com/phetsims/molecule-polarity/blob/master/js/realmolecules/model/mol2Data.js). mol2 data is the m

[2020-03-02 00:43] pixelzoom opened #83 "use Enumeration"
- [x] Convert `SurfaceType` from old-style enum to `Enumeration`.

- [x] Add Enumeration `SurfaceColor`, see `MPGlobalOptions.surfaceColorProperty`.  Tricky because of `?surfaceColor`, maybe delete it.

- [x] Add Enumeration `DipoleDirection` see `MPGlobalOptions.dipoleDirectionProperty`.  Tricky because of `?dipoleDirection`, maybe delete it.

- [x] `Polarity`, see PlateNode.js and PolarityIndica

[2020-03-10 23:10] pixelzoom commented on #83
Done, closing.

[2020-03-10 23:10] #83 closed

[2020-05-21 21:56] samreid commented on #14
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-21 22:26] pixelzoom commented on #14
This issue should not have been closed, because as https://github.com/phetsims/molecule-polarity/issues/14#issuecomment-316451418 says:

[2020-09-08 23:30] pixelzoom opened #84 "replace deprecated input listeners"
Related to https://github.com/phetsims/scenery/issues/1078.

- [x] PointySliderThumb: ButtonListener > PressListener
- [x] MoleculeAngleDragHandler: SimpleDragHandler > DragListener
- [x] BondAngleDragHandler: SimpleDragHandler > DragListener

[2020-09-09 00:47] pixelzoom commented on #84
Done, closing.

[2020-09-09 00:47] #84 closed

[2021-03-02 17:10] pixelzoom opened #85 "Add basic PhET-iO instrumentation"
@kathy-phet asked me to add basic instrumentation to Molecule Polarity, with high priority.  A client (reasearcher) has made this sim their top priority. Saving state is of primary importance.

If I have any questions, @arouinfar is the lead designer.  @kathy-phet and @arouinfar will inspect the sim in Studio when I've finished.

Prior to starting this work, I published a baseline dev version:
htt

[2021-03-02 23:53] KatieWoe opened #86 "CT invalid molecule"
[code]

[2021-03-02 23:57] pixelzoom commented on #86
Yeah, sorry that snuck in.  This sim is undergoing a "PhET-iO instrumentation sprint", so there are going to be problems for a little bit.

This one was fixed within the past hour. Closing.

[2021-03-02 23:57] #86 closed

[2021-03-03 06:21] pixelzoom commented on #85
First pass of PhET-iO instrumentation is done, it took ~10 hours.

Test drive in master or these dev versions:

* brand=phet [1.1.0-dev.2](https://phet-dev.colorado.edu/html/molecule-polarity/1.1.0-dev.2/phet/molecule-polarity_en_phet.html)
* brand=phet-io [1.1.0-dev.2](https://phet-dev.colorado.edu/html/molecule-polarity/1.1.0-dev.2/phet-io/)

It was unclear to me which parts of the molecules sho

[2021-03-03 18:35] pixelzoom commented on #85
PhET-iO validation is now turned on for CT.

[2021-03-03 19:40] pixelzoom commented on #85
A note about the "Real Molecules" screen...

You'll probably wonder why Studio shows a lot of stuff under element `moleculePolarity.realMoleculesScreen` when this screen is "not implemented".   The short answer is that it is actually mostly implemented, and that implementation must be minimally instrumented to appease PhET-iO.

The long answer..  By default, the Real Molecules screen shows a dialo

[2021-03-04 16:14] pixelzoom opened #87 "Publish PhET-iO 1.1 RC to support research study (4/4/2021)"
This issue was the motivation for #85 (Add basic PhET-iO instrumentation).

A research collaborator would like to use this sim for a study.  @kathy-phet provided some info on Slack, here's my summary:

* The study is scheduled for "end of March", and the researcher would like the sim by "mid March"
* PhET-iO instrumentation is required, and "saving state is of primary importance" (#85)
* PhET will

[2021-03-04 16:25] pixelzoom commented on #87
I would like to discuss the plan to provide a dev version.  Two concerns:

(1) The dev team has repeatedly recommended against providing dev versions. A dev version cannot be patched via PhET processes and tools.  An RC version has no additional cost, and provides all of the maintenance benefits.

(2) The dev team has expressed concerns about the impact of study traffic on bayes.  This will be an

[2021-03-04 16:46] pixelzoom commented on #87
Re the QA plan:

PhET-iO instrumentation (#85) required big changes throughout the sim. There is a very good chance that something is broken.   If that's understood by everyone, that's fine.  But I think we should all be on the same page about QA requirements.

I'm also unclear on what "QA will do some testing" means.  I know what the process and expectations are for "Dev Test", "RC Test", and "RC

[2021-03-04 18:41] pixelzoom commented on #87
3/4/21 phet-io meeting

* We will provide an RC version.
* There are a "couple of hundred" students in the study, so phet-dev.colorado.edu should be able to handle it.
* We will adopt the "RC-Research" definition.
* I will check with @KatieWoe to confirm that all test definitions are captured somewhere.

[2021-03-04 19:18] pixelzoom opened #88 "Exclude Real Molecules screen from PhET-iO research version"
Related to #85 and #87...

@kathy-phet would like to remove the _Real Molecules_ screen from the PhET-iO version that will be provided to the research collaborator.

I will implement this temporarily, and restore it in master after the RC branch has been created.

[2021-03-04 19:27] pixelzoom commented on #88
_Real Molecules_ is now totally hidden in brand=phet-io.  It is unchanged in brand=phet.

[2021-03-04 19:32] pixelzoom commented on #85
We decided not to create the Real Molecules screen for the research version in #87.  That has been done in #88.

Test drive in master, or in:
https://phet-dev.colorado.edu/html/molecule-polarity/1.1.0-dev.3/phet-io/
https://phet-dev.colorado.edu/html/molecule-polarity/1.1.0-dev.3/phet/molecule-polarity_en_phet.html

[2021-03-04 22:12] pixelzoom opened #89 "PhET-iO change requests (Two Molecules screen)"
Related to #85... Change requests for PhET-iO instrumentation:

Uninstrument these elements:
- [x] `platesNode`
- [x] `partialCharge*Node`
- [x] `bondDipole*Node`
- [x] `molecularDipoleNode`
- [x] `arrow*Node`, the individual hint arrows
- [x] `electrostaticPotentialColorKey`
- [x] `electronDensityColorKey`

Add these query parameters:
- [x] `dipoleDirection`, values 'positiveToNegative' and 'nega

[2021-03-04 23:21] pixelzoom opened #90 "Use a Property for Atom label"
Noticed while working on #89.

The label for Atom should be a Property, so that you can change it in one place and have it update everywhere in the view.  It is currently not a Property, can't be changed in the model, and you have to update it in multiple places in the view.

[2021-03-05 00:23] pixelzoom opened #91 "Change requests for angleProperty"
Breaking these change requests out of https://github.com/phetsims/molecule-polarity/issues/89. Investigation reveals that they are more complicated, and involve significant work.

- [x]  Constrain these angle ranges to [-PI,PI]:
`molecule.angleProperty.rangeProperty`
`molecule.bondAngleAProperty.rangeProperty`
`molecule.bondAngleCProperty.rangeProperty`

- [x] Snap molecule`dipoleProperty` to y=0

[2021-03-05 00:25] pixelzoom commented on #89
I moved a couple of change requests to #91, because they are going to require significant effort.

@arouinfar The requests in the list above are done, and ready for review in master.

[2021-03-05 00:26] pixelzoom commented on #91
I was thinking something like this patch in Molecule.js, but it doesn't seem quite right.

[code]

[2021-03-05 00:47] pixelzoom commented on #90
Done in the above commit. Atom's label is now `labelProperty`.  If you change it, the labels on the atoms and in the electronegativity panels will change.  A consequence of this is that `*ElectronegativityPanel.titleText.textProperty` are now read-only.

@arouinfar please review in master.

[2021-03-05 03:02] pixelzoom opened #92 "Use value instead of set/get for Property"
This sim has some inconsistencies in how is uses the Property API.  In some places it uses `get`/`set`, in other places it uses `value`.  This makes it difficult to find all of the places were a Property is read or written, and it's getting in the way a bit while I'm working on PhET-iO instrumentation for #85.  So I'm going to convert to using `value` throughout, since that's the style I've been u

[2021-03-05 03:05] pixelzoom commented on #92
Done in the above commit.  Fuzz tested. Nothing to review here, no change in sim behavior, so closing.

[2021-03-05 03:05] #92 closed

[2021-03-05 05:12] pixelzoom commented on #91
The molecule angle for the triatomic molecule can be a little confusing, because it's not always aligned with the molecular dipole.  So I added query parameter `showMoleculeAngle`, which adds a red arrow, with tail at the molecule position, pointing in the direction of the molecule angle.  If you need to convince yourself that `molecule.angleProperty` is correct, run with `?showMoleculeAngle`.

[2021-03-07 05:07] arouinfar commented on #88
Looks good in master and 1..1.0-dev.3 @pixelzoom.

[2021-03-07 07:36] pixelzoom commented on #88
Excellent.

Leaving this assigned to me, so that I remember to revert this change after the release branch is created.

[2021-03-08 17:11] arouinfar commented on #91
The range looks good, but the polarity seems to be swapped. Normally, a positive angle is swept up from the positive x-axis (counterclockwise) while a negative angle is swept down from the x-axis (clockwise).

The angles on the Three Atoms screen are confusing, so thanks for creating `showMoleculeAngle`.  I had to compare a few cases to figure out what's going on. It looks like `molecule.bondAngle

[2021-03-08 17:13] arouinfar commented on #90
Looks good in master @pixelzoom.

[2021-03-08 17:13] #90 closed

[2021-03-08 17:42] pixelzoom commented on #91
All transforms in Molecule Polarity are in view coordinates, where +y is DOWN, and +angle is therefore CLOCKWISE.   I realize that this doesn't fit with math conventions, but this isn't a math sim, or something that is quantitatively exposed to the user.   And it's a well-established convention for view coordinates, a byproduct of the fact that early computers used CRT (Cathode-Ray Tube) monitors.

[2021-03-08 18:25] pixelzoom commented on #91
In Slack, @arouinfar said:

So we're going to stick with clockwise rotation.  I will put "CLOCKWISE" in caps in phetioDocumentation, since this may be unexpected.

While changing phetioDocumentation, I noticed a few other things that could be improved. So here is a complete summary of the changes in the above commit:

* I moved "radians" out of phetioDocumentation and into the `units` option to re

[2021-03-08 18:31] pixelzoom commented on #91
@arouinfar reviewed the above changes on Slack, sounds like these are all desirable changes. She'll take another pass through this.

[2021-03-08 18:34] pixelzoom commented on #89
@arouinfar pointed out that I used 'RGB' instead of 'RWB' for one of the `?surfaceColor` values. Fixed in the above commit.

[2021-03-08 18:38] pixelzoom commented on #88
3/4/21 design meeting:

We noticed that `moleculePolarity.global.model.surfaceColorProperty` appears in all versions, even though it's relevant only to the _Real Molecules_ screen.  We decided that was OK, and will improve the phetioDocumentation to read "color scheme for the Electrostatic Potential surface in the Real Molecules screen".

[2021-03-08 18:49] arouinfar commented on #89
@pixelzoom everything is looking good in master. I'll leave this issue open and self-assigned since we still need to review the Three Molecules screen in detail.

[2021-03-08 18:56] arouinfar commented on #91
@pixelzoom everything's looking good in master, thanks!

[2021-03-08 23:22] pixelzoom commented on #89
@arouinfar since these change requests were for the "Two Atoms" screen, I've retitle this issue to "PhET-iO change requests (Two Molecules screen)", and I'm going to close this issue.

#85 (Add basic PhET-iO instrumentation) is still open, assigned to you and @kathy-phet, and that's the appropriate place to continue your review of the "Three Atoms" screen .  If you have change requests for that sc

[2021-03-08 23:24] pixelzoom commented on #85
Current status:

@arouinfar and @kathy-phet reviewed the "Two Atoms" screen . Change requests for that screen were addressed in https://github.com/phetsims/molecule-polarity/issues/89.

@arouinfar and @kathy-phet will continue with review of the "Three Atoms" screen.  Feel free to put all change requests in one new GitHub issue.

[2021-03-08 23:25] #89 closed

[2021-03-09 00:00] pixelzoom opened #93 "Delete data/mol2/ if JSmol is not used."
If JSmol is not used to implement the _Real Molecules_ screen, data/mol2/ can be deleted, as can mol2Data.js.

[2021-03-09 04:50] arouinfar opened #94 "PhET-iO change requests, continued"
For #85 and a continuation of #89.

I took another pass through the tree for both screens and found a few more things to change

- [x] `*Screen.model.molecule.atom*.electronegativityProperty` are the underlying properties for the electronegativity sliders. The slider thumb snaps to the nearest tick mark (increments of 0.2), but the value that shows up in studio occasionally reveals floating point

[2021-03-09 06:17] pixelzoom commented on #94
Change requests have been completed. Back to @arouinfar for review.

[2021-03-09 06:20] pixelzoom opened #95 "Hint arrows change direction on Atom B of triatomic molecule"
Something odd I noticed while testing something else, easiest to describe by example:

1. Start the sim, go to Three Atoms screen
2. Set electronegativity slider for Atom B to "less", the lowest setting.
3. Note that the green 'hint arrow' on Atom B change direction.

I'm not sure if this is a feature or a bug, will investigate.

[2021-03-09 06:38] pixelzoom commented on #95
This was definitely not a feature, just a bit of matrix multiplication weirdness that was happening when the molecular dipole angle was zero.  Fixed in the above commit, no need for review, closing.

[2021-03-09 06:38] #95 closed

[2021-03-09 06:40] pixelzoom commented on #94
I have to say, I really dislike the electronegativity slider snapping to 0.2 while dragging.  It makes the sim feel really jerky.   Compare master to [1.1.0-dev.3](https://phet-dev.colorado.edu/html/molecule-polarity/1.1.0-dev.3/phet/molecule-polarity_en_phet.html).

[2021-03-09 07:25] pixelzoom commented on #94
More thoughts about snapping electronegativity sliders to 0.2 while dragging...
* Snapping to 0.2 when the slider is _released_ was added to make it easy to reproduce electronegativity settings.
* Electronegativity range is [2,4]. Limiting to 0.2 intervals mean we have only 10 values, which seems much too coarse, and results in motion that is visibly jerky.
* Electronegativity and values derived f

[2021-03-10 06:31] pixelzoom opened #96 "CT: phetioID already registered"
[code]

[2021-03-10 06:37] pixelzoom commented on #96
To reproduce manually:

1. Run the sim in the State wrapper, `.../phet-io-wrappers/state/?sim=molecule-polarity&phetioDebug&phetioValidation=true`
2. In the upstream sim, select PhetMenu > Options to open the Options dialog
3. Close the Options dialog by clicking on the close (X) button.  This will trigger the error.

The console reads:

phetioAPIValidation.js:227 error data: {phetioID: "moleculeP

[2021-03-10 06:52] pixelzoom commented on #96
I figured this out.  MPOptions was disposing of its subcomponents.  But those subcompoents had subcomponents that weren't being cleaned up -- specifically radio button Text labels.

Fixed in the above commit. Closing.

[2021-03-10 06:52] #96 closed

[2021-03-11 21:24] pixelzoom commented on #87
3/11/21 phet-io meeting:

The research collaborator was provided with 1.1.0-dev.2 for review. Feedback was that it looked good. There were no change requests.

[2021-03-11 21:37] pixelzoom commented on #94
3/11/21 design meeting notes:

Re snapping...  I misunderstood the request.  The request is not to snap while dragging.  The problem is that the model value was not snapping to 0.2 interval on drag release.   I'll revert and investigate.

[2021-03-11 22:34] pixelzoom commented on #94
EN slider snapping reverted to original behavior in the commit above.

[2021-03-11 22:35] pixelzoom commented on #91
Reopening. @kathy-phet reported that molecule.angleProperty is not always snapping to zero when aligned with the e-field. I observed this in master.

[2021-03-11 22:35] pixelzoom commented on #91
Actually... I'm going to leave this closed and create a new issue.

[2021-03-11 22:35] #91 closed

[2021-03-11 22:38] pixelzoom opened #97 "molecule.dipoleProperty is not snapping to zero"
In #91:

@kathy-phet reported that this is not snapping to zero. It's still some small value.

[2021-03-11 22:40] pixelzoom opened #98 "Add angleABCProperty"
3/11/21 design meeting @arouinfar @kathy-phet @pixelzoom

Add `threeAtoms.model.molecule.angleABCProperty` with range [-PI,PI].  Positive angle clockwise, as in other places.  This is a PhET-iO only Property, added only for the data stream.

[2021-03-11 22:42] pixelzoom opened #99 "Describe view coordinate frame in relevant phetioDocumentation"
3/11/21 design meeting @arouinfar @kathy-phet @pixelzoom

We discussed adding a model-view transform that flips the y-axis, and then specifying the model in the typical "+y up, +angle counterclockwise" convention.   But since this sim has no model-view transform, that would be a major change, possibly destabilizing. So...

Add “+x right, +y DOWN” to `phetioDocumentation` for all relevant Vector2 a

[2021-03-11 22:45] pixelzoom opened #100 "Client Guide"
This issue will be to record things that should potentially be added to the PhET-iO Client Guide, when it is created.

[2021-03-11 22:46] pixelzoom commented on #100
A couple of things from 3/11/21 design meeting @arouinfar @kathy-phet @pixelzoom

- [ ] Describe view coordinate frame: +x right, +y DOWN, +angle CLOCKWISE

- [ ] Bond angles are relative to the molecule's angle.  If you want to know the bond angle in global coordinate frame, add the molecule angle.

[2021-03-11 22:54] pixelzoom commented on #94
EN slider snapping is fixed in the above commit. It now snaps to 0.2 interval when the slider is release, or when you click on the track.

@arouinfar all items in this issue are now done and ready for your review.

[2021-03-11 23:34] pixelzoom commented on #98
This is done, `see moleculePolarity.threeAtomsScreen.model.molecule.boundAngleABCProperty`.

Range is [-PI, PI).

To wrap your head around the sign of the angle, think of drawing an arc from atom A to atom C.  In keeping with the "positive rotation CLOCKWISE" convention for the coordinate frame...

An orientation like this will have a positive value:

![screenshot_200](https://user-images.githubus

[2021-03-11 23:41] pixelzoom commented on #97
I don't see a problem here.  I think @kathy-phet might have been looking at `molecule.angleProperty` and expecting that to be zero when the dipole is aligned with the E-field.

When the dipole (a vector) is aligned with the E-field, it's y component will be zero.  This does not mean that the molecule angle will be zero.  The molecule angle is relative to the initial orientation of the molecule, an

[2021-03-12 00:20] pixelzoom commented on #99
Done in the above commit.  Here are the changes:

`atom*.positionProperty`:
'The position of this atom. (0,0) is at the upper-LEFT, +x is to the right, and +y is DOWN.'

`molecule dipoleProperty`:
'The molecular dipole, vector sum of the bond dipoles. +x is to the right, +y is DOWN, and positive rotation is CLOCKWISE.'

`bond*.dipoleProperty`:
'Qualitative vector representation of the dipole, base

[2021-03-13 20:24] pixelzoom opened #101 "Instrument inputEnabledProperty"
Related to #85, and after phetsims/scenery#1116 has been completed...

Instrument `inputEnabledProperty` for the following Nodes:

- [x] DiatomicMoleculeNode

- [x] TriatomicMoleculeNode
  atomANode
  atomBNode
  atomCNode
  bondABNode
  bondBCNode

Discuss the plan for common-code UI components used by this sim:
* HSlider
* Checkbox
* AquaRadioButtonGroup
* ABSwitch

[2021-03-17 05:37] samreid opened #102 "Confusing extra variable"
In https://github.com/phetsims/molecule-polarity/commit/6473bfdd7b3abde27753f1cbbbb47ab702dfbbef, this code was added:

[code]

I saw this because I was referred to Molecule Polarity as an example for instrumenting separators for https://github.com/phetsims/gravity-and-orbits/issues/384.

You probably already know that `separatorCount` and `i` have the same value in the loop body (after the increm

[2021-03-17 16:18] pixelzoom commented on #102
Thanks, fixed in the above commit.   And closing this issue.

@samreid I should point out that there is no naming convention for separator tandems.  And I'm not convinced that there needs to be.  I have recently instrumented 2 different sims, for 2 different designers, using 2 different naming conventions.

In Molecule Polarity, MPControlPanel is a base class that needs to support a variable numbe

[2021-03-17 16:18] #102 closed

[2021-03-17 19:49] arouinfar commented on #99
Thanks @pixelzoom. Looks good in master.

[2021-03-17 19:49] #99 closed

[2021-03-17 19:52] arouinfar commented on #98
@pixelzoom looks like there's a typo in the phetioID, it's currently `boundAngleABCProperty` instead of `bondAngleABCProperty`. Otherwise, this looks good in master, and I think the sign convention is clear and matches what @kathy-phet suggested in design meeting.

[2021-03-17 19:59] arouinfar commented on #97
@pixelzoom I reviewed master, and I was unable to create a situation where a `moleculeDipoleProperty` had a non-zero y-component when aligned to the E-field. Perhaps we were looking at an angleProperty instead. If so, I don't think there's anything that needs to be done here.

@kathy-phet can you reproduce what we were seeing?

[2021-03-17 21:40] pixelzoom commented on #98
Thanks @arouinfar, good catch on the typo.  Fixed in the above commit, Studio screenshot below. Closing.

![screenshot_209](https://user-images.githubusercontent.com/3046552/111542195-06162e00-8737-11eb-907a-4af8fd6713f0.png)

[2021-03-17 21:40] #98 closed

[2021-03-17 21:48] zepumph commented on #101
https://github.com/phetsims/scenery/issues/1116 is complete and out for review. You can add the following option to instrument `inputEnabledProperty` for any Node:

`inputEnabledPropertyPhetioInstrumented: true`

This can be done in your sim for common code components also, but any changes needed inside common code will be done in https://github.com/phetsims/scenery/issues/1158.

[2021-03-17 21:53] pixelzoom commented on #87
Update: The researcher needs the link to the final version by 4/4/21.

[2021-03-17 22:28] pixelzoom commented on #101
Here's a description of the sim-specific `inputEnabledProperty` elements that were added in the above commits.

The diatomic molecule has only one DragListener (for rotating), so requires only one element:
[code]

The triatomic molecule has a DragListener on each atom and bond, and they can be individually controlled via these elements:
[code]

The triatomic molecule also has this element at the t

[2021-03-17 22:34] pixelzoom commented on #100
Assigning to @arouinfar.  I don't think this is needed for #87 (research study).  But there's been talk of publishing a production PhET-iO version of this sim.  I don't know what the timeframe is, but this will be needed.

[2021-03-18 17:56] pixelzoom commented on #87
NOTE:  I can publish the RC version using `grunt rc`.  Work with @zepumph to create the links for QA and the researcher, so that Metacog recording will work.

[2021-03-18 17:59] zepumph commented on #87
Note that the qa issues will likely look much like https://github.com/phetsims/QA/issues/624.

[2021-03-18 19:40] pixelzoom commented on #97
3/18/21 design meeting @arouinfar @kathy-phet @pixelzoom

`moleculePolarity.twoAtomsScreen.model.molecule.angleProperty`, turn on e-field, drag atom A up to reproduce (may need to do it a couple of times).

[2021-03-18 19:49] pixelzoom commented on #101
Need to turn off hint arrows for triatomic atoms that are inputEnabledProperty false.

[2021-03-18 20:02] arouinfar commented on #94
@pixelzoom everything looks good, closing.

[2021-03-18 20:02] #94 closed

[2021-03-18 20:28] pixelzoom commented on #101
Done in the above commit. This was a little tricky because the visiblity of ech hint arrow involves 3 things: inputEnabledProperty for the molecule, inputEnabledProperty for the atom, and whether the user has changed the molecule.

@arouinfar ready for review.

[2021-03-18 20:44] pixelzoom commented on #97
@arouinfar ready for review.  Recommended to look at these 2 elements with the e-field on:

`moleculePolarity.twoAtomsScreen.model.molecule.angleProperty` should be zero when the dipole is aligned with the e-field.

`moleculePolarity.twoAtomsScreen.model.molecule.dipoleProperty` should have y=0 when the dipole is aligned with the e-field.

[2021-03-18 20:48] pixelzoom commented on #85
@arouinfar ny understanding is that you and @kathy-phet have completed review of the Three Atoms screen, and that any outstanding issues are being tracked in other GitHub issues.  If that's correct, feel free to close this issue.

[2021-03-18 20:58] #85 closed

[2021-03-18 21:12] arouinfar commented on #97
Looks good in master @pixelzoom

[2021-03-18 21:24] arouinfar commented on #101
@pixelzoom looks good on the Three Atoms screen, but I think we'll want to do the same for the Two Atoms screen and have `moleculePolarity.twoAtomsScreen.view.moleculeNode.hintArrowsNode.visibleProperty` listening to `moleculePolarity.twoAtomsScreen.view.moleculeNode.inputEnabledProperty`.

[2021-03-18 23:51] pixelzoom commented on #101
Ah right, the Two Atoms screen... duh.

Done in the above commit.  Please re-test the Three Atoms screen, because I made some improvements in the implementation there, informed by the Two Atoms implementation.

[2021-03-20 03:20] arouinfar commented on #101
Looks good in master @pixelzoom.

[2021-03-20 03:20] #101 closed

[2021-03-22 15:58] pixelzoom opened #103 "Disable pan and zoom for research study"
Related to #87 (research study)

https://github.com/phetsims/phet-io/issues/1747 (Record and playback of pan and zoom may not be working with keyboard commands) is labeled as "blocks-publication".   For the research study "saving state is of primary importance".   And since it's not clear whether this could impact the research study, the consensus on Slack dev-public was to disable pan and zoom.

[2021-03-22 15:59] pixelzoom commented on #103
Pan and zoom has been disabled in master, by adding this to package.json "phet" section:

`  "supportsPanAndZoom": false,`

then running `grunt update`.

This should be reverted after the RC branch is created.

[2021-03-22 16:24] pixelzoom opened #104 "Feature PhET-iO elements"
Designate which PhET-iO elements are featured using Studio.
This will need to be done before proceeding with a public PhET-iO version of this sim.

Note that in the 1.1 branch for #87, the overrides.js file is empty, so nothing sim-specific is featured.

[2021-03-22 19:59] pixelzoom commented on #87
1.1.0-rc.1 has been published and is ready for testing in https://github.com/phetsims/QA/issues/627.

[2021-03-22 20:21] pixelzoom commented on #103
1.1 branch was created with pan and zoom disabled.

Pan and zoom has been restored in master.

Closing.

[2021-03-22 20:21] #103 closed

[2021-03-22 20:24] pixelzoom commented on #88
1.1 branch was created with Real Molecules screen hidden for PhET-iO.

Real Molecules screen has been restored for PhET-iO in master.

Closing.

[2021-03-22 20:24] #88 closed

[2021-03-22 22:13] phet-steele opened #105 "Bad initial state when Preview Sim occurs in the middle of an interaction"
Follow: https://phet-dev.colorado.edu/html/molecule-polarity/1.1.0-rc.1/phet-io/wrappers/studio/

1. Enter a screen, and turn on the Electric Field
2. Start dragging the molecule such that **if** you released your mouse it would rotate to align itself, but don't release.
3. Move your mouse out of the iframe while still holding your mouse down (this is not the bug), then click "Preview Sim"

In the

[2021-03-22 22:39] pixelzoom commented on #105
The fact that this doesn't interrupt the interaction that's in progress feels really buggy to me.  How can we possibily put the sim in the correct starting state when the Preview button is pressed in the middle of a drag cycle?

@zepumph @samreid thoughts?

[2021-03-22 22:41] pixelzoom commented on #105
I was asked not to instrument the hint arrows, so their state is not saved and restored.  If it's important to save/restore their state, they will need to be instrumented.  @arouinfar how would you like to proceed with this?

[2021-03-22 22:46] pixelzoom commented on #105
Actually, we probably shouldn't instrument the individual hint arrows.  It's more involved than that. I'll need to create a read-only Property that keeps track of whether the hint arrows are visible, and instrument that Property.

[2021-03-22 22:48] pixelzoom commented on #105
Btw... These are really 2 separate problems.  Hint arrows is an issue no matter how you use the sim:

1. Start the sim in Studio
2. Go to Two Atoms screen
3. Move the molecule, so that the hint arrows go away
4. Press Preview in Studio.  Note that the hint arrows appear in the preview sim.

So... I'm going to split this into 2 issues, and edit some comments.

[2021-03-22 22:52] pixelzoom opened #106 "State of hint arrows is not saved"
This was reported by @phet-steele in https://github.com/phetsims/molecule-polarity/issues/105, for phetsims/QA/issues/627:

But it's a separate issue, and has nothing to do with the other things reported in #105.

To reproduce:

1. Start the sim in Studio
2. Go to Two Atoms screen
3. Move the molecule, so that the hint arrows go away
4. Press Preview in Studio. Note that the hint arrows appear in

[2021-03-22 22:59] pixelzoom commented on #105
Here's the reason why the molecule doesn't align with the E-field in the Preview sim.  In MPModel.js:

[code]

The molecules orientation is not updated while it's being dragged.  `molecule.isDraggingProperty` is an instrumented Property, so it's state is being save and restore.  Since you press "Preview Sim" while you were in the middle of a drag, the Previewed sim thinks it's in the middle of a d

[2021-03-22 23:12] zepumph commented on #105
There isn't really an event to listen to at this time for this. @jonathanolson is there a reason why we don't interrupt listeners when a Pointer is removed from a display?

I would consider `isDraggingProperty` a transient value, and not something that should be stateful. I would start in this issue by setting that to be `phetioState:false`  and seeing how that feels.

[2021-03-22 23:25] pixelzoom commented on #105
All kind of other bad behavior as the result of not interrupting when the pointer leaves the iframe.

Examples using Studio in "Two Atoms" screen:

1. Press on the molecule and start dragging
2. Move pointer outside of sim iframe and release pointer
3. Move pointer back inside of sim iframe.  The pointer is no longer down, but the molecule still rotates as the pointer move. You have to press and r

[2021-03-22 23:40] pixelzoom commented on #105
More badness, very sim-specific in this case:

When an Electronegativity (EN) slider is dragging, the value is continuous. When the slider is released, it snaps to 0.2 intervals. Using these steps, the Preview Sim starts up in a state where the slider is not dragging, and the value is not a 0.2 interval:

1. Start sim in Studio, go to Two Atoms screen
2. Start dragging one of the EN sliders.
3. Wi

[2021-03-22 23:46] pixelzoom commented on #105
If I'm not running the sim in an iframe, interaction appears to be interrupted when the pointer leaves the bounds of the browser.  I think this is the behavior that we want when the point leaves an iframe.

[2021-03-23 00:01] pixelzoom commented on #105
`molecule.isDraggingProperty` has been set to `phetioState: false` in master and 1.1 branches.  See above commits.

[2021-03-23 00:02] pixelzoom commented on #105
Reducing the priority of this, because the research collaborator for #87 is unlikely to be customizing using Studio.

This seems like a general PhET-iO issue, that should be moved to a general repo.  Suggestions on which repo?

[2021-03-23 12:56] samreid commented on #105
Since we encourage embedding PhET simulations in iframes without using PhET-iO, maybe this issue is not specific to PhET-iO?  For instance, the behavior appears in build/phet/molecule-polarity_en_iframe_phet.html as well, which is produced on build and does not use any PhET-iO.  But I agree PhET-iO leverages iframes heavily.  Chipper defines the sim-iframe template.  But this problem also feels a

[2021-03-23 15:56] pixelzoom commented on #105
My recommendation is in https://github.com/phetsims/molecule-polarity/issues/105#issuecomment-804471507:

[2021-03-23 16:21] jonathanolson commented on #105
I'm looking more in depth into this, but friction (the dragging of the book) and molecule shapes (the rotation of the molecule) are both cases where it would be incredibly annoying if the action got interrupted when the pointer went out of the window/iframe. Similarly for any case where you're trying to drag something near the border (CCK?)

[2021-03-23 16:24] jonathanolson commented on #105
Most of the items in https://github.com/phetsims/molecule-polarity/issues/105#issuecomment-804460900 seem like actual bugs with how Scenery is handling things, rather than general problems that would result from allowing input from pointers that have gone outside of the iframe.

We SHOULD get events in those cases, the drag releases should happen, and things shouldn't break. @pixelzoom what browse

[2021-03-23 16:24] pixelzoom opened #107 "Molecule dipole does not align with E-field in Preview sim"
In https://github.com/phetsims/molecule-polarity/issues/105 for phetsims/QA/issues/627, @phet-steele reported a scenario in which the molecule dipole does not align with the E-field in the sim launched using Studio's "Preview Sim" button.   There were some other unrelated issues intertwined in that report, so I'm creating this issue to fix and track that specific problem.

The steps to reproduce a

[2021-03-23 16:25] pixelzoom commented on #107
In https://github.com/phetsims/molecule-polarity/issues/105#issuecomment-804450393, I noted:

Here's the reason why the molecule doesn't align with the E-field in the Preview sim.  In MPModel.js:

[code]

The molecule's orientation is not updated while it's being dragged.  `molecule.isDraggingProperty` is an instrumented Property, so it's state is being saved and restored.  Since you pressed "Prev

[2021-03-23 16:25] pixelzoom commented on #107
In https://github.com/phetsims/molecule-polarity/issues/105#issuecomment-804455813, @zepumph suggested:

[2021-03-23 16:28] pixelzoom commented on #105
Sim-specific issues have been moved to new issues #106 and #107.
The general issue of when to interrupt input has been moved to  https://github.com/phetsims/scenery/issues/1186, please continue discussion there.

Closing.

[2021-03-23 16:28] #105 closed

[2021-03-23 16:31] pixelzoom commented on #107
`molecule.isDraggingProperty` has been set to `phetioState: false` in master and 1.1 branches. See above commits.

@phet-steele please confirm that this is fixed in master.  If it looks OK, please leave the issue open, but change the label to "fixed-awaiting-deploy".

[2021-03-23 16:44] phet-steele commented on #107
This does look okay in master, thank you for all your work!

[2021-03-23 22:27] KatieWoe opened #108 "Unable to save to localfile"
For https://github.com/phetsims/QA/issues/627
When trying to test recording and playback, I was unable to save the recording. This means I am not able to use it to test if events were captured correctly. If I am doing something wrong, please let me know so I can fix it. This was seen on Win 10 Chrome.
<img width="956" alt="unabletosavelocalfile" src="https://user-images.githubusercontent.com/41024

[2021-03-23 22:34] pixelzoom commented on #108
I'm not familiar with this aspect of PhET-iO, so we'll need to ask @zepumph for assistance.

[2021-03-23 22:49] arouinfar commented on #106
The state of the arrows should be saved/restored. If that means individually instrumenting the hint arrows, that's fine, we just won't feature them. If this was purely about customizing the sim in studio and previewing it, I might dismiss it for #87. Playing around in the state wrapper reveals strange things.

* On startup, grab atom A and drag it down in the upstream sim. Sometimes the hint arrow

[2021-03-23 22:55] KatieWoe commented on #108
I saw this bug when using the link given in the rc: `https://phet-dev.colorado.edu/html/molecule-polarity/1.1.0-rc.1/phet-io/wrappers/login/?wrapper=record&validationRule=validateDigits&numberOfDigits=8&phetioEmitStates=true&phetioEmitStatesInterval=60&localFile`
When using: `https://phet-dev.colorado.edu/html/molecule-polarity/1.1.0-rc.1/phet-io/wrappers/record/?localFile`, which is the normal ty

[2021-03-23 22:57] pixelzoom commented on #108
So maybe the link in the QA issue is incorrect?  I don't know...

[2021-03-23 23:26] pixelzoom commented on #87
On 3/23/21, @arouinfar sent the research a link to https://phet-dev.colorado.edu/html/molecule-polarity/1.1.0-rc.1/phet-io/, and requested feedback by Monday 3/29/21 9:00 AM MDT.

[2021-03-23 23:52] pixelzoom commented on #106
It's amazing how something as simple as hint arrows has become so mind-bogglingly for PhET-iO.

[2021-03-24 16:16] KatieWoe commented on #107
Noting that this iframe behavior was previously known I believe (although I'm having trouble finding the issue) and I believe it varies between browsers.

[2021-03-24 18:14] KatieWoe commented on #108
I tested the link again on MacOS 11 Safari and it did work. I'm really not sure why. If anyone needs to pair for this, let me know.

[2021-03-24 18:17] pixelzoom commented on #108
Slack phet-io channel:

Chris Malley  12:16 PM
QA is unable to test localfile record/playback in the latest Molecule Polarity RC. This is of primary importance to Ido’s study, and needs to be resolved asap. Can someone from PhET-iO team please assist? https://github.com/phetsims/molecule-polarity/issues/108

[2021-03-24 18:21] KatieWoe commented on #108
I went back to Win 10 Chrome and I was able to get it to work. I think I've discovered the issue. If the console is opened in the login screen, saving will work. If you open the console when the sim is visible, after you've entered the passcode, this error occurs. This seems similar to a known issue. I'll look for it and link here.

[2021-03-24 18:21] zepumph commented on #108
@KatieWoe, in the above screen shot, you are in the "sim" context for the console. This occurs when you open the console by trying to "inspect" something that is in the sim frame. Please click on the red select box that says "sim", and choose the "top" (at the top) selection, which will put you in the record wrapper context frame. That is where the global function 'saveLogToFile' is located, not i

[2021-03-24 18:24] KatieWoe commented on #108
Ok, right. I think I remember this from an earlier discussion. Sorry about this. In that case this can probably be closed.

[2021-03-24 18:26] zepumph commented on #108
No worries! Could you please update the QA book to include this, it is totally not something that is obvious unless you are looking for it or used to it. Then I'm fine closing this as well.

[2021-03-24 18:28] pixelzoom commented on #108
@KatieWoe said:

If you have confirmed that you can save to localfile, then feel free to close.

[2021-03-24 18:36] #108 closed

[2021-03-24 18:45] pixelzoom commented on #106
@arouinfar We need to have a design chat about how hint arrows should behave in the Preview sim.  So far we have consider either (a) instrument `visibleProperty` for the hint arrow nodes, or (b) add a new instrumented Property, something like `hintArrowsVisibleProperty`, that is responsible for the state.  In both of those cases, if the molecule has been changed in any way before pressing "Preview

[2021-03-24 20:56] pixelzoom opened #109 "Update credits for 1.1 release"
@KatieWoe let me know who I should add to the QA credits.  The current credits are:

[code]

[2021-03-24 21:32] KatieWoe commented on #109
Just myself for this one

[2021-03-24 22:01] arouinfar commented on #106
From a design perspective, (a) seems a bit cleaner, but I think you should go with whatever makes more sense from an implementation perspective. However, I do think that the visibleProperty of the individual hint arrows should be read-only. The model should decide when the arrows are visible, otherwise, I think things could get really weird if clients start controlling the visibility of individual

[2021-03-24 23:14] pixelzoom commented on #106
Indeed, very complicated.  So I'll proceed under the assumption that hint arrows are show only in the DEFAULT initial state.

[2021-03-24 23:36] pixelzoom commented on #106
I used the approach of instrumenting each hint arrow Node, identified as (a) in https://github.com/phetsims/molecule-polarity/issues/106#issuecomment-806069428.

The `moleculeNode` branch of the Studio tree looks like this for the _Two Atoms_ screen:

<img width="267" alt="screenshot_934" src="https://user-images.githubusercontent.com/3046552/112396980-cadfa600-8cc6-11eb-8d7c-f7f5b0646be9.png">

.

[2021-03-24 23:53] pixelzoom commented on #109
@KatieWoe I see your name as both "Kathryn Woessner" (36x) and "Katie Woessner" (15x) in credits.  Do you have a preference?  Do you want to standardize?

[2021-03-25 03:51] arouinfar commented on #106
@pixelzoom the tree structure looks good, as does the behavior when pressing "Preview Sim" in studio and in the downstream sim in the state wrapper. The hint arrows are still correctly disappearing when the corresponding inputEnabledProperty is false too.

[2021-03-25 13:54] pixelzoom opened #110 "Cherry-pick studio#210 fix to 1.1 branch"
In https://github.com/phetsims/studio/issues/210, element `phetioEngine` is now pinned to the top of the Studio tree.  This change was not cherry-picked to the 1.1 branch because it was not relevant to #87 (PhET-iO version for research study).

If PhET decides to use the 1.1 branch as the starting point for a general release, then that change should be cherry-picked to the 1.1 branch.   I believe

[2021-03-25 13:56] pixelzoom commented on #87
Feedback from the research collaborator on 3/25/21:

I will proceed with the next RC (spot-check).

[2021-03-25 15:16] pixelzoom commented on #109
Slack:

Kathryn Woessner:house_with_garden:  9:15 AM
I generally go with Kathryn as my professional name, but I don't really mind either way. It seems like more trouble than it's worth to change the other instances.

Chris Malley  9:16 AM
It’s pretty easy to change in master. And it will prevent confusion like I’m having :)   So OK to change to “Kathryn” throughout all credits?

Kathryn Woessner:h

[2021-03-25 15:19] pixelzoom commented on #109
"Kathryn Woessner" added to credits in master and 1.1 branches.

[2021-03-25 15:23] pixelzoom commented on #109
"Katie Woessner" has been changed to "Kathryn Woessner" throughout QA credits in master.

[2021-03-25 15:27] pixelzoom opened #111 "Cherry-pick scenery#1186 fix to 1.1 branch"
In https://github.com/phetsims/scenery/issues/1186, fixes were made to handle pointer interrupt for sims running in an iframe (like in Studio).

If PhET decides to use the 1.1 branch as the starting point for a general release, then that fix should be cherry-picked to the 1.1 branch.

If PhET decides to use a new 1.2 branch for a general release (my recommendation), then this issue can be closed w

[2021-03-25 15:38] pixelzoom commented on #109
I also noticed that @arouinfar is not included in the credits. She asked to be added to the "Team" section.   Done in the above commits to master and 1.1 branches.

[2021-03-25 15:39] pixelzoom commented on #109
Here's how the credits will appear for 1.1:

<img width="608" alt="screenshot_937" src="https://user-images.githubusercontent.com/3046552/112500418-f9ed2a80-8d4d-11eb-99cd-adcb10185b69.png">

[2021-03-25 16:22] pixelzoom opened #112 "Which branch should be used for the next production release?"
PhET is about to wrap up a 1.1 RC release for a research collaborator, see #87.

Since the PhET-iO instrumentation for this sim is in good shape, there has been talk of moving forward with a production release.  That release could be a continution of the 1.1 branch, or it could be based on a new 1.2 branch (created from master).

My recommendation is use a new 1.2 branch. It is the lower-cost opti

[2021-03-25 17:24] arouinfar commented on #112
Thanks for writing this up @pixelzoom. Another thing to consider is that studio save/load is possibly still buggy (currently being tested for GAO release), and we would definitely want that feature in the next production release. All signs point to creating the 1.2 branch when the time comes.

[2021-03-25 20:13] pixelzoom commented on #87
Progress is blocked. I can't create the next RC due to a problem with the build server, see https://github.com/phetsims/ratio-and-proportion/issues/375#issuecomment-807400288.

[2021-03-26 01:22] pixelzoom commented on #87
phetsims/perennial#221 is no longer blocking.

1.1.0-rc.2 was publish and is being tested in https://github.com/phetsims/QA/issues/631.

[2021-03-26 01:25] pixelzoom commented on #109
To verify this issue, open the About dialog in 1.1.0-rc.2.  Verify that the credits are as desired. Specifically verify that "Kathryn Woessner" was added to QA, and "Amy Rouinfar" was added to Team.

[2021-03-26 01:27] pixelzoom commented on #107
To verify this issue in 1.1.0-rc.2, follow the steps in https://github.com/phetsims/molecule-polarity/issues/107#issue-838900878.  Verify that the molecule dipole immediately aligns with the E-field when the Preview sim starts up.

[2021-03-26 01:31] pixelzoom commented on #106
To verify this issue in 1.1.0-rc.2:

* Verify that the Studio tree looks like what is shown in https://github.com/phetsims/molecule-polarity/issues/106#issuecomment-806251518.
* Verify that setting `hintArrowsNode.visibleProperty` to `false` permanently hides the hint arrows. Test for both screens.
* Verify that if the Preview sim is started when the hint arrows are visible in Studio: the hint arr

[2021-03-29 19:24] DevonQui commented on #106
In Studio, I looked through the tree of both the Two Atoms and Three Atoms screens and the tree for moleculeNode doesn't match what was desired. There are multiple things missing from both versions of the moleculeNode tree. I'll keep searching around to see if they're located somewhere else but I can't locate the missing elements at the moment.
<img width="307" alt="Screen Shot 2021-03-29 at 1 12

[2021-03-29 19:39] KatieWoe opened #113 "Rotating hint arrows behave differently than in published"
For https://github.com/phetsims/QA/issues/631. Found while confirming https://github.com/phetsims/molecule-polarity/issues/107. Also seems to happen in rc.1, so unrelated to any fixes done before rc.2. This issue seems very minor and may not be worth addressing.

When hint arrows are on and the electric field is turned on, while on the second screen, the arrows remain when while the molecule rotat

[2021-03-29 19:39] KatieWoe commented on #107
This looks ok in rc.2

[2021-03-29 19:39] #107 closed

[2021-03-29 19:59] DevonQui commented on #106
Verified this on Mac and everything looks fine.

[2021-03-29 19:59] #106 closed

[2021-03-29 20:22] KatieWoe commented on #109
This change was made. Devon Quispe was involved in this spot-check, so should probably be added. That change probably doesn't need a spot check.

[2021-03-29 21:37] pixelzoom commented on #113
This is behaving as expected.  The requirement for the hint arrows is that they disappear when the user performs a drag action on any part of the molecule.   That has not occurred in the scenario that is described, so the hint arrows remain.

Assigning to @arouinfar to decide if the requirements should be changed.  If so, please specify the additional things that should cause the hint arrows to di

[2021-03-29 21:39] KatieWoe commented on #113
The issue I'm pointing out isn't that the arrows stay, it's how they are positioned when the molecule moves. As shown in the gif, this behavior is different than the published version.

[2021-03-29 22:14] pixelzoom commented on #113
I'm having a really difficult time parsing this sentence:

So let me see if I understand... You're reporting that the green hint arrows no longer rotate with the molecule. Do I underarand that correctly?

[2021-03-29 22:16] KatieWoe commented on #113
Yes.

[2021-03-29 22:16] pixelzoom commented on #109
Thanks @KatieWoe. I will add Devon Quispe to the QA credits in the main and 1.1 branches. But I'm not going to generate a new RC for that change.

[2021-03-29 22:18] pixelzoom commented on #113
OK thanks.

This definitely does not need to be addressed for #87 (research study).  I'll self-assign and consider addressing it later for a general release.

[2021-03-29 22:23] pixelzoom commented on #87
1.1.0-rc.2 testing has been completed, see https://github.com/phetsims/QA/issues/631.  All previous issues were successfully verified. There was one new issue #113 which does not need to be addressed for this research version.

@kathy-phet @arouinfar 1.1.0-rc.2 is ready to be delivered to the research collaborator.  The link to the index wrapper is:
https://phet-dev.colorado.edu/html/molecule-pola

[2021-03-29 22:33] kathy-phet commented on #87
Thanks - will work with MK when he gets back from vacation, to make sure I send correct links for data collection and testing. On hold until March 31.

[2021-03-29 22:36] arouinfar commented on #113
Agreed that it is not important for #87 @pixelzoom.

It looks like the green hint arrows will rotate with the molecule while the molecule is in motion, but once it stops, the arrows pop back to the left/right side of atom B instead of staying at the top/bottom. I'd consider this a minor issue. It looks a bit strange but I don't think it will impact usability. Looks like the change crept in somewhe

[2021-03-29 22:55] arouinfar commented on #87
Unassigning myself since @kathy-phet will be sending the final links to the collaborator.

[2021-03-31 14:37] #109 closed

[2021-03-31 16:04] zepumph commented on #87
Here are the links. Please tell our partner that each sim url is linked to a different data collection, and must be requested separately (using each sim's URL). If he would rather have a single collection to collect all data in one "pot", we can do that as well, but in my experience it can get a bit unwieldy. I also make both of these wrapper directories public, so they are ready for learner-facin

[2021-03-31 16:07] zepumph commented on #87
I don't want phet-io links in public issues, so I made https://github.com/phetsims/special-ops/issues/195 for the delivery, please see there. Closing.

[2021-03-31 16:07] #87 closed

[2021-04-02 16:57] kathy-phet commented on #112
I agree, go with 1.2 as a new release from master.

[2021-04-02 17:42] pixelzoom commented on #112
Great, I'll close this issue, and proceed with cleaning up loose ends.

[2021-04-02 17:42] #112 closed

[2021-04-02 17:43] pixelzoom commented on #111
In https://github.com/phetsims/molecule-polarity/issues/112, we decided that the next production release will be based on a new branch. So the 1.1 branch does not need to be patched, and this issue can be closed as "won't fix".

[2021-04-02 17:43] #111 closed

[2021-04-02 17:43] pixelzoom commented on #110
In #112, we decided that the next production release will be based on a new branch. So the 1.1 branch does not need to be patched, and this issue can be closed as "won't fix".

[2021-04-02 17:43] #110 closed

[2021-04-02 17:44] pixelzoom commented on #113
In In #112, we decided that the next production release will be based on a new branch. So this issue does not need to be addressed in the 1.1 branch, it is sufficient to address it in master.

[2021-04-03 14:23] pixelzoom commented on #113
By bisecting, I determined that this regression was introduced in 2a0f176133c3864763775dc14ca97175c8046ce2 on 3/8/21. The commit comment is "fix rotation arrows when dipole angle is zero".

[2021-04-03 14:39] pixelzoom commented on #113
Reverting 2a0f176 will fix the problem, and it seems that other changes (probably the normalization of angle) have resolved #95.  So I could do that.

But there are other weird things that result from trying to keep the orientation of the rotation hint arrows aligned with the molecular dipole.  For example in [1.1.0-rc.1](https://phet-dev.colorado.edu/html/molecule-polarity/1.1.0-rc.1/phet/molecul

[2021-04-03 14:56] pixelzoom commented on #113
@arouinfar I went ahead and made the change that I described in the previous comment.  The rotation arrows now remain in a fixed orientation, they do not align with the molecular dipole.  The complexity involved, and the number of problems that have been encountered, just don't seem worth the bother for hint arrows.

Compare:

[1.2.0-dev.1](https://phet-dev.colorado.edu/html/molecule-polarity/1.2.

[2021-04-08 18:02] pixelzoom opened #114 "Molecule Polarity 1.2 release"
From 4/2/21 Q2 planning meeting...

* brands=phet,phet-io
* new 1.2 release branch
* full QA process (dev + RC)
* publish by 6/30/21

@arouinfar @kathy-phet FYI.

[2021-04-12 16:49] KatieWoe opened #115 "CT: passed-in thumbNode must have the correct tandem"
[code]

[2021-04-12 21:04] pixelzoom commented on #115
This is a general issue that was reported in https://github.com/phetsims/sun/issues/694.  I'll keep this issue open to remind me that it impacts this sim.

[2021-04-15 18:03] pixelzoom commented on #115
The pieces of this related to phetsims/sun#694 have been fixed, so closing.

[2021-04-15 18:03] #115 closed

[2021-04-15 22:19] pixelzoom commented on #113
4/15/21 design meeting @arouinfar @kathy-phet

Looks good, closing.

[2021-04-23 20:08] arouinfar opened #116 "Uninstrument bondDipolesCheckbox.labelNode.labelIcon"
Discovered during #104

The icon next to the "Bond Dipole" checkbox is instrumented, though the same was not done for the "Molecular Dipole" checkbox. For consistency, the icons should be treated the same. @kathy-phet and I didn't see any particular reason why the icon needs to be instrumented separately from the checkbox, so we'd like to uninstrument `moleculePolarity.*Screen.view.controlPanel.vi

[2021-04-26 15:16] pixelzoom commented on #116
Done, @arouinfar please verify in master.  If it looks OK, you can close this issue.

[2021-04-28 22:41] arouinfar commented on #104
I've committed the phetioFeatured overrides and it looks good in master, so closing.

[2021-04-28 22:41] #104 closed

[2021-04-28 22:41] arouinfar commented on #116
Looks good, thanks @pixelzoom

[2021-04-28 22:41] #116 closed

[2021-05-10 21:49] arouinfar commented on #100
I completed the client guides in the above commits. I decided against specifically addressing the points in https://github.com/phetsims/molecule-polarity/issues/100#issuecomment-797100428 for a few reasons:
* The information is already in the documentation in Studio
* Duplication makes things less maintainable
* Bond angles are not featured, and it seems weird to call them out

[2021-05-10 21:50] #100 closed

[2021-05-10 21:54] arouinfar commented on #114
@pixelzoom I've finished up the phetioFeatured overrides and the client guides. As far as I know, there aren't any sim-specific issues blocking this sim from going to QA.

[2021-05-10 22:18] pixelzoom commented on #114
Thanks for the update @arouinfar.   I agree, there are no sim-specific issues blocking QA.  To meet the 6/30/21 publication milestone, QA for this sim should start sometime the first week of June.  Assigning to @kathy-phet for scheduling.  When you're ready to start QA, please assign this issue back to me with instructions.

[2021-06-26 00:28] arouinfar opened #117 "Update Teacher Tips"
Related to #114

The Teacher Tips should be updated for the 1.2 version. Updates include:

- [x] Use modern template
- [x] Add query parameter table: `screens`, `supportsPanAndZoom`, `dipoleDirection`
- [x] When the E-Field is turned on, the molecule's angular velocity is proportional to the molecular dipole moment. If the molecular dipole is tiny (but non-zero) it can rotate over several minutes,

[2021-07-06 22:55] pixelzoom opened #118 "Add phetioDesigned:true"
... to Sim options in main.js

[2021-07-07 15:50] pixelzoom commented on #118
Done in the above commits:
* added `phetioDesigned: true` to Sim options in main.js
* added `"compareDesignedAPIChanges": true` to package.json
* `grunt generate-phet-io-api`

I'll leave this issue open until CT has verified.

[2021-07-07 16:30] pixelzoom commented on #118
Running Studio with `?phetioCompareAPI` indicates no problems. Closing.

[2021-07-07 16:30] #118 closed

[2021-07-07 16:37] pixelzoom commented on #114
We're now 1 week past the milestone. Assigning to @kathy-phet to revise.  Feel free to assign back to me when you're ready to proceed with publishing this release.

[2021-07-26 23:10] pixelzoom commented on #114
Dev test published 7/26/2021:
* https://github.com/phetsims/qa/issues/680

[2021-07-27 17:02] DevonQui opened #119 ""Real Molecules is not currently available in HTML5" ?"
**Test device**
MacBook Pro
**Operating System**
11.5
**Browser**
Safari
**Problem description**
This is for https://github.com/phetsims/qa/issues/680

The "Real Molecules" screen doesn't have a simulation attached to it, only a redirect link to a Java based version of the sim. I'm not sure if this was intentional so feel free to close, I just haven't run into this before.

**Steps to reproduce**